.content .sidebar li a.active {
    background-color: #54b2bf;
    color: white; }

.profile .avatar .image {
    border: 5px solid #E0E0E0;
    margin-left: 15px;
    margin-top: 15px;
    width: 150px;
    height: 160px;
    background-size: cover;
    background-repeat: repeat;
    background-position: 50% 50%;
}

.listenLive {
    background-color: #480000;
    border: 1px solid #C57817;
    border-radius: 3px 3px 3px 3px;
    color: white;
    display: block;
    height: 25px;
    line-height: 30px;
    position: absolute;
    top: -48px;
    left: 200px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 120px;
}
