body 
{
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #383839;
    background-repeat: no-repeat;
    font-family: klavika-bold;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5c5f62), to(#383839));
    background-image: -webkit-linear-gradient(#5c5f62, #383839);
    background-image: -moz-linear-gradient(#5c5f62, #383839);
    background-image: -o-linear-gradient(top, #5c5f62, #383839);
    background-image: -khtml-gradient(linear, left top, left bottom, from(#5c5f62), to(#383839));
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#5c5f62', EndColorStr='#383839', GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#5c5f62', EndColorStr='#383839', GradientType=0))";
}
body .slider-frame {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    width: 85px;
    height: 29px;
    background-color: #404040;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2b2b2b), to(#404040));
    background-image: -webkit-linear-gradient(#2b2b2b, #404040);
    background-image: -moz-linear-gradient(#2b2b2b, #404040);
    background-image: -o-linear-gradient(top, #2b2b2b, #404040);
    background-image: -khtml-gradient(linear, left top, left bottom, from(#2b2b2b), to(#404040));
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#2b2b2b', EndColorStr='#404040', GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#2b2b2b', EndColorStr='#404040', GradientType=0))";
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #666666;
    border-left: 1px solid #333333;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 1px 8px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0px 1px 8px 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 1px 8px 0 rgba(0, 0, 0, 0.25);
}
body .slider-frame .slider-button {
    display: block;
    margin: 0;
    padding: 0;
    width: 43px;
    height: 27px;
    line-height: 27px;
    background: #d37a16;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #70430e;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    color: #fff;
    font-family:Helvetica;
    font-size:11px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    cursor: pointer;
}
body .slider-frame .slider-button.on {
    margin-left: 40px;
    background: #2372c6;
    border: 1px solid #0f3f74;
}
body .slider-frame .slider-button:before {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    width: 43px;
    height: 12px;
    background: rgba(255, 255, 255, 0.25);
    content: '';
    -moz-border-radius: 15px;
    border-radius: 15px;
}
body .slider-frame .type-button {
    display: block;
    margin: 0;
    padding: 0;
    width: 43px;
    height: 27px;
    line-height: 27px;
    background: #006600;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #006600;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    color: #fff;
    font-family:Helvetica;
    font-size:11px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    cursor: pointer;
}
body .slider-frame .type-button.on {
    margin-left: 40px;
    background: #1f3d4c;
    border: 1px solid #1f3d4c;
}
body .slider-frame .type-button:before {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    width: 43px;
    height: 12px;
    background: rgba(255, 255, 255, 0.25);
    content: '';
    -moz-border-radius: 15px;
    border-radius: 15px;
}
button 
{
  background:none;
  border:none; 
  padding:10px;
}
@font-face 
{
    font-family: klavika-bold;
    src: url('/static/font/klavika-regular.otf');
}
@font-face 
{
    font-family: klavika-regular;
    src: url('/static/font/klavika-regular.otf');
}
.innercontainer {
    background-color: #2c2c2c;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: #eeeddd;
}
.celebname 
{
  opacity: 0.90;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #2c2c2c;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.celebname h1 
{
  padding-top: 5px;
  margin-top: 0px;
  margin-bottom: -5px;
  margin-left: 0px;
  font-size: 50px;
  line-height: 1;
  color: #eeeddd;
  letter-spacing: -1px;
}
.headthumb
{
  width: 40px;
  height: 40px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 0px;
  margin-right: 10px;
  float: left;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.span115 {
  width: 920px;
}
.table tbody tr:hover td,
.table tbody tr:hover th {
    background-color: #4c4c4c;
    text-shadow: 0 0 4px #cacaca;
}
.navbar .brand 
{
  float: left;
  display: block;
  padding: 10px 20px 10px;
  margin-left: -15px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: #eeeddd;
}
.navbar .manage
{
  float: right;
  display: block;
  padding: 10px;
  margin-left: 0px;
  margin-right: -10px;
  font-family: klavika-regular;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: black;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
}
.navbar .manage:hover 
{
  text-decoration: none;
}