<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>mobileApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A web application that publishes music playlists from a mobile application by celebrities.">
    <meta name="keywords" content="fanlime athlete celebrity fan music playlist">
    <meta name="author" content="cvstechnolgy">

{% if debug %}
    <!-- styles -->
    <link href="/static/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="/static/css/docs.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/prettify.css" rel="stylesheet">
    <link href="/static/css/mobile.css" rel="stylesheet">

    <!-- javascript -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-tab.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/json2.js"></script>
    <script src="/static/js/jquery.editinplace.js"></script>
{% else %}
    <!-- styles -->
    <link href="/projects/mobileApp/static/img/icons/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="/projects/mobileApp/static/css/docs.css" rel="stylesheet">
    <link href="/projects/mobileApp/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/projects/mobileApp/static/css/bootstrap.css" rel="stylesheet">
    <link href="/projects/mobileApp/static/css/prettify.css" rel="stylesheet">
    <link href="/projects/mobileApp/static/css/mobile.css" rel="stylesheet">

    <!-- javascript -->
    <script src="/projects/mobileApp/static/js/jquery.min.js"></script>
    <script src="/projects/mobileApp/static/js/bootstrap-tooltip.js"></script>
    <script src="/projects/mobileApp/static/js/bootstrap-tab.js"></script>
    <script src="/projects/mobileApp/static/js/bootstrap-dropdown.js"></script>
    <script src="/projects/mobileApp/static/js/json2.js"></script>
    <script src="/projects/mobileApp/static/js/jquery.editinplace.js"></script>
{% endif %}

    <script>
        function shorten(string, limit)
        {
           return string = string.length > limit ? string.substring(0,limit) + "...": string;
        }

        function showLibrary(){
          $(".music").empty();
          {% if debug %}
          $.getJSON('/library', function(data) {
          {% else %}
          $.getJSON('/projects/mobileApp/library', function(data) {  
          {% endif %}  
              if (jQuery.isEmptyObject(data)) {
                return;
              }
              else {
                var songs = data;
                var content = '<div class="library">';
                content += '<h2 class="header">Song Library</h2>';
                content += '<h4 class="playlist-name">Click Playlist Name</h4>';
                content += '<ol>';
                $.each(songs, function(index, song) {
                  var title = shorten(song.title,30);
                  var artist = shorten(song.artist,30);
                  var album = shorten(song.album,30);
                  content += '<li><div class="wrap"><div class="track" rel="' + song.id + '">' + title + ' by ' + artist + ' in ' + album + '</div><div class="delete" rel="' + song.id + '"><a href="#">[DELETE]</a></div></div></li>';
                });
                content += '</ol>';
                content += '<div class="create"><a href="#">[CREATE PLAYLIST]</a></div>';
                content += '</div>';
                $(content).appendTo(".music");
              }
          });
        }

        function showPlayed(){
          $(".played").empty();
          {% if debug %}
          $.getJSON('/played', function(data) {
          {% else %}
          $.getJSON('/projects/mobileApp/played', function(data) {  
          {% endif %}  
              if (jQuery.isEmptyObject(data)) {
                return;
              }
              else {
                var songs = data;
                var content = '<div class="recent">';
                content += '<h2 class="header">Recently listened</h2>';
                content += '<ol>';
                $.each(songs, function(index, song) {
                  var title = shorten(song.title,30);
                  var artist = shorten(song.artist,30);
                  var album = shorten(song.album,30);
                  var visible = song.visible;
                  if (visible == 0)
                  {

                    content += '<div class="wrap dull"><div class="track" rel="' + song.id + '">' + title + ' by ' + artist + ' in ' + album + '</div><div class="songpublish" rel="' + song.id + '"><a href="#">[UNHIDE]</a></div></div><br>';
                  }
                  else
                  {
                    content += '<li><div class="wrap"><div class="track" rel="' + song.id + '">' + title + ' by ' + artist + ' in ' + album + '</div><div class="songpublish" rel="' + song.id + '"><a href="#">[HIDE]</a></div></div></li>';
                  }
                });
                content += '</ol>';
                content += '</div>';
                $(content).appendTo(".played");
              }
          });
        }

        function showPlaylists(){
          $(".playlists").empty();
          {% if debug %}
          $.getJSON('/show', function(data) {
          {% else %}
          $.getJSON('/projects/mobileApp/show', function(data) {  
          {% endif %}  
              if (jQuery.isEmptyObject(data)) {
                return;
              }
              else {
                var playlists = data;
                var content = '<div class="playlist">';
                content += '<h2 class="header">Playlists</h2>';
                $.each(playlists, function(index, playlist) {
                    var playlist_name = shorten(playlist.playlist_name, 30);
                    var pvisible = playlist.visible;
                    if (pvisible == 0)
                    {
                      content += '<br>';
                      content += '<div class="dull">';
                      content += '<div class="playlist-header"><a href="#' + playlist.playlist_id + '">' + playlist_name + '</a></div><div class="publish" rel="' + playlist.playlist_id + '"><a href="#' + playlist.playlist_id + '">[UNHIDE]</a></div><div class="deleteall" rel="' + playlist.playlist_id + '"><a href="#">[DELETE]</a></div>&nbsp';
                      content += '<ol>';
                      $.each(playlist.songs, function(index,song){
                          var title = shorten(song.title,30);
                          var artist = shorten(song.artist,30);
                          var album = shorten(song.album,30);
                          content += '<li><div class="wrap"><div class="playlist-song" rel="' + song.id + '">' + title + ' by ' + artist + ' in ' + album + '</div></div></li>';
                      });
                      content += '</ol>';
                      content += '</div>';
                      content += '<br>';
                    }
                    else
                    {
                      content += '<br>';
                      content += '<div class="playlist-header"><a href="#' + playlist.playlist_id + '">' + playlist_name + '</a></div><div class="publish" rel="' + playlist.playlist_id + '"><a href="#' + playlist.playlist_id + '">[HIDE]</a></div><div class="deleteall" rel="' + playlist.playlist_id + '"><a href="#">[DELETE]</a></div>&nbsp';
                      content += '<ol>';
                      $.each(playlist.songs, function(index,song){
                          var title = shorten(song.title,30);
                          var artist = shorten(song.artist,30);
                          var album = shorten(song.album,30);
                          content += '<li><div class="wrap"><div class="playlist-song" rel="' + song.id + '">' + title + ' by ' + artist + ' in ' + album + '</div><div class="play" rel="' + song.id + '"><a href="#">[PLAY]</a></div><div class="update" relb="' + song.id + '" rela="' + playlist.playlist_id + '"><a href="#">[DELETE]</a></div></div></li>';
                      });
                      content += '</ol>';
                    }
                });
                content += '</div>';
                $(content).appendTo(".playlists");
              }
          });
        }

      $(document).ready(function(){

        showLibrary();
        showPlayed();
        showPlaylists();

        var songs = []

        $(".form").submit(function(event) {
          event.preventDefault();                 
          var $form = $( this ),
              title = $form.find( 'input[name="title"]' ).val(),
              artist = $form.find( 'input[name="artist"]' ).val(),
              url = $form.attr( 'action' );
          jdata = JSON.stringify({ "title": title, "artist": artist });
          jQuery.ajax({
                  type: "POST",
                  url: url,
                  data: jdata,
                  success: showLibrary,
                  dataType: "json",
                  contentType: "application/json",
                  processData: false
                });
        });

        $('body').on('click', '.track', function() {
            var id = $(this).attr("rel");
            if (jQuery.inArray(id, songs) < 0){
              $(this).closest(".track").css("color", "#ddd000");
              songs.push(id);
            }
            else {
              $(this).closest(".track").css("color", "#eeeddd");
              songs.pop(id);
            }
        });

        $('body').on('click', '.delete', function() {
          var id = $(this).attr("rel");
          {% if debug %}
          $.post("/delete/"+id, function(data) {
          {% else %}
          $.post("/projects/mobileApp/delete/"+id, function(data) {
          {% endif %}  
              showLibrary();
              showPlaylists();
          });
        });

        $('body').on('click', '.deleteall', function() {
          var id = $(this).attr("rel");
          {% if debug %}
          $.post("/deleteall/"+id, function(data) {
          {% else %}
          $.post("/projects/mobileApp/deleteall/"+id, function(data) {
          {% endif %}
              showPlaylists();
          });
        });

        $('body').on('click', '.publish', function() {
          var id = $(this).attr("rel");
          {% if debug %}
          $.post("/publish/"+id, function(data) {
          {% else %}
          $.post("/projects/mobileApp/publish/"+id, function(data) {
          {% endif %}
              showPlaylists();
          });
        });

        $('body').on('click', '.songpublish', function() {
          var id = $(this).attr("rel");
          {% if debug %}
          $.post("/recent/"+id, function(data) {
          {% else %}
          $.post("/projects/mobileApp/recent/"+id, function(data) {
          {% endif %}
              showPlayed();
          });
        });

        $('body').on('click', '.update', function() {
          var playlist_id = $(this).attr("rela");
          var song_id = $(this).attr("relb");
          var data = {}
          data.playlist_id = playlist_id;
          data.song_id = song_id;
          var jdata = JSON.stringify(data);
          {% if debug %}
          $.post("/update/"+jdata, function(data) {
          {% else %}
          $.post("/projects/mobileApp/update/"+jdata, function(data) {
          {% endif %}
              showPlaylists();
          });
        });

        $('body').on('click', '.play', function() {
          var id = $(this).attr("rel");
          {% if debug %}
          $.post("/play/"+id, function(data) {
          {% else %}
          $.post("/projects/mobileApp/play/"+id, function(data) {
          {% endif %}
              showPlayed();
          });
        });

        $('body').on('click', '.create', function() {
          var playlist = {};
          playlist.name = $(".playlist-name").text();
          playlist.songs = songs;
          var jdata = JSON.stringify(playlist);
          {% if debug %}
          $.post("/create/"+jdata, function(data) {
          {% else %}
          $.post("/projects/mobileApp/create/"+jdata, function(data) {
          {% endif %}   
                showLibrary();
                showPlaylists();
                songs = [];
          });
        });

        $('body').on('hover', '.playlist-name', function() {
          $('.playlist-name').editInPlace({
            bg_over: "#2C2C2C",
            saving_animation_color: "#ECF2F8",
            callback: function(idOfEditor, enteredText, orinalHTMLContent, settingsParams, animationCallbacks) {
              animationCallbacks.didStartSaving();
              setTimeout(animationCallbacks.didEndSaving, 2000);
              $(".playlist-name").text('');
              return enteredText;
            }
          });
        });  
      });
    </script>

 </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        {% if not logged_in %}
          <a class="brand" href="{{ url_for('home') }}">mobileApp</a>
          <a class="manage" href="{{ url_for('login') }}">login</a>
        {% else %}
          <a class="brand" href="{{ url_for('home') }}">mobileApp</a>
          <div class="dropdown">
            <b class="caret"></b>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">{{ name }}</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li>
                <a href="{{ url_for('logout') }}" tabindex="-1">Sign out mobileApp</a>
              </li>
            </ul>
          </div>
          <div class="manage">Welcome</div>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="container">

    {% if logged_in %}      
      <!-- Main banner -->
      <div class="hero-unit">
        {% if debug %} 
          <form class="form" action="/search">
        {% else %}     
          <form class="form" action="/projects/mobileApp/search">
        {% endif %} 
            <input type="text" name="title" class="input-small" placeholder="Track title">
            <input type="text" name="artist" class="input-small" placeholder="Track artist">
            <button type="submit" class="btn">Add</button>
          </form>      
      </div>
    {% endif %}

      <div class="music"></div>
      <div class="played"></div>
      <div class="playlists"></div>

    </div> <!-- /container -->

  </body>
</html>
