<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Create Project &middot; Startist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An online platform for talented users to collaborate on awesome projects">
    <meta name="author" content="cvstechnology">

    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" type="image/x-icon"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/startist.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/bootstrap-fileupload.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/jquery.tagsinput.css') }}" rel="stylesheet" type="text/css"/>
  </head>
  
  <body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a href="{{ url_for('home') }}"><img class="brand" src="{{ url_for('static', filename='img/startist.gif') }}"/></a>
        <div class="lander">
          <div class="nav-collapse collapse pull-right">
            <form class="navbar-search" action="{{ url_for('search', search="all") }}">
              <input type="text" name="search" class="search-query" placeholder="Search">
              <div class="icon-search" style="background-image:url('{{ url_for('static', filename='img/glyphicons-halflings.png') }}');"></div>
            </form>
              <ul class="nav">
              {% if not session.logged_in %}
                <li><a href="{{ url_for('login') }}" data-toggle="modal">login</a></li>
                <li><a href="{{ url_for('join') }}" data-toggle="modal">join</a></li>
              {% else %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ session.name }} <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('messages', username=session.username) }}">Messages</a></li>
                    <li><a href="{{ url_for('user', username=session.username) }}">Profile</a></li>
                    <li><a href="{{ url_for('portfolio', username=session.username) }}">Portfolio</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                  </ul>
                </li>
              {% endif %}
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-narrow">

  <form class="fileupload fileupload-new topspace" data-provides="fileupload" enctype="multipart/form-data" method="post" action="{{ url_for('launch_project') }}">

    <div class="row-fluid">
      <div class="span8">
        <div class="project-name">My Project</div>
        <input type="hidden" id="project-name-id" name="project-name" value=""/>
          {% if session.logged_in and session.username == user.username %}
          <button class="btn btn-small project-name-trigger" type="button">Edit</button>
          {% endif %}
          
          <div class="fileupload-preview thumbnail smalltopspace" style="width: 100%; height: 375px"></div>
            <div>
              <span class="btn btn-small btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" name="file" id="file-input"/></span>
              <a href="#" class="smallspace btn btn-small fileupload-exists" data-dismiss="fileupload">Remove</a>
          </div>
      </div>    
      <div class="span4">
        <div class="project-pic pull-right"><a href="{{ url_for('user', username=user.username) }}"><img src="{{ process_image(user.pic) }}" width="100%"></a></div>
        <div style="clear: both;"></div>
        <div class="project-summary pull-right">
          <div>Projects: {{ user.projects | length }}</div>
          <div>Partners: {% if user.projects %} {{ user.projects.partners | length }} {% else %} 0 {% endif %}</div>
          <div>Followers: {% if user.followers %} {{ user.followers.profiles | length }} {% else %} 0 {% endif %}</div>
          <div>Following: {% if user.following %} {{ user.following.profiles | length }} {% else %} 0 {% endif %}</div>
          <div>Contact</div>
          <div>Member Since: {{ format_date(user.added_at) }}</div>
        </div>  
      </div>     
    </div>  

    <hr>

    <div class="row-fluid">
      <div class="project-description">Describe this project.</div>
      <input type="hidden" id="project-description-id" name="project-description" value=""/>
      {% if session.logged_in and session.username == user.username %}
      <button class="btn btn-small project-description-trigger" type="button">Edit</button>
      {% endif %}
    </div>  

    <hr>

    <div class="row-fluid">
      <div class="project-skills">
        <div class="create-project-skills-input">
        <hint>Add Project Skills</hint>
        </div>
        <div class="create-project-skills-input-edit" style="display:none;">
          <input type="hidden" id="project-skills-id" name="project-skills" value=""/>
        </div>
      </div> 
      {% if session.logged_in and session.username == user.username %}
      <button class="btn btn-small project-skills-trigger" type="button">Edit</button>
      {% endif %}   
    </div>

    <hr>

    <button type="submit" class="btn" id="upload-btn">Launch</button>
    </form>
  </div>

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-fileupload.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.tagsinput.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.isotope.min.js') }}"></script>
  <script>
    $(function(){
      $('#container').isotope({
        itemSelector: '.box',
        resizesContainer: false
      });
    });

    function shorten(string, limit)
    {
       return string = string.length > limit ? string.substring(0,limit) + "...": string;
    }

    $(document).ready(function(){

      $('.project-name-trigger').toggle(
          function(){
            if ($('.project-name').children('input').length == 0) {
                var location = $(this).parent();
                $(this).text("Finished");
                var inputbox = '<input class="project-name-input" value="' + $('.project-name', location).text() + '">';
                $('.project-name', location).html(inputbox);
                $('input.project-name-input', location).select();
                $('input.project-name-input', location).focus();
                $('input.project-name-input', location).keypress(function(e) {
                  if(e.which == 13) {
                      e.preventDefault();
                      $('.project-name-trigger').click();
                      
                    }
                });
              }
          },
          
          function(){
                var location = $(this).parent();
                $(this).text("Edit");
                var value = $('input.project-name-input', location).val();
                var newvalue = value;
                newvalue = newvalue.replace(/\r?\n/g, "<br>\n");
                $('.project-name', location).html(newvalue);
                var elem = document.getElementById("project-name-id");
                elem.value = value;
          }
        );

      $('.project-description-trigger').toggle(
          function(){
            if ($('.project-description').children('input').length == 0) {
                var location = $(this).parent();
                $(this).text("Finished");
                var inputbox = '<textarea class="project-description-input" style="height: 200px;">' + $('.project-description', location).text() + '</textarea>';
                $('.project-description', location).html(inputbox);
                $('textarea.project-description-input', location).select();
                $('textarea.project-description-input', location).focus();
            }
          },
          
          function(){
                var location = $(this).parent();
                $(this).text("Edit");
                var value = $('textarea.project-description-input', location).val();
                var newvalue = value;
                newvalue = newvalue.replace(/\r?\n/g, "<br>\n");
                $('.project-description', location).html(newvalue);
                var elem = document.getElementById("project-description-id");
                elem.value = value;
          }
        );

      $('#project-skills-id').tagsInput(
        {
          'height':'32px',
          'width':'900px',
          'minChars' : 1
        });

      $('.project-skills-trigger').toggle( 
        function() {
          $(this).text("Finished");

          var skills = '';
          $('.create-project-skills-input span').each(function(){
              skills += $(this).text();
              skills += ','
          });
          $('.create-project-skills-input').hide();
          $('#project-skills-id').importTags(skills);
          $('.create-project-skills-input-edit').show();
          $('.create-project-skills-input-edit').children('.tagsinput').click();
        },

        function() {
          $(this).text("Edit");

          var skills = $('#project-skills-id').val();
          $('.create-project-skills-input-edit').hide();
          $('.create-project-skills-input').show();
          var content = '';
          var array = skills.split(',');
          if (array[0] == '')
          {
            array = [];
            content += '<hint>Add Project Skills</hint>';
          }
          for (var i = 0; i < array.length; i++) {
            content += '<span>' + array[i] + '</span>';
          }
          $('.create-project-skills-input').html(content);
  
          var elem = document.getElementById("project-skills-id");
          elem.value = skills;
          }
        );

      });
  </script>

  </body>
</html>