<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home &middot; Startist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An online platform for talented users to collaborate on awesome projects">
    <meta name="author" content="cvstechnology">

    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" type="image/x-icon"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/startist.css') }}" rel="stylesheet" type="text/css"/>
  </head>
  
  <body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a href="{{ url_for('home') }}"><img class="brand" src="{{ url_for('static', filename='img/startist.gif') }}"/></a>
        <div class="lander">
          <div class="nav-collapse collapse pull-right">
              <ul class="nav">
              {% if not session.logged_in %}
                <li><a href="/login" data-toggle="modal">login</a></li>
                <li><a href="/join" data-toggle="modal">join</a></li>
              {% else %}
                <li><a href="{{ url_for('logout') }}" id="logout">logout</a></li>
              {% endif %}
              </ul>
              <form class="navbar-search" action="{{ url_for('search') }}">
                <input type="text" name="search" class="search-query" placeholder="Search projects">
                <div class="icon-search" style="background-image:url('{{ url_for('static', filename='img/glyphicons-halflings.png') }}');"></div>
              </form>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-narrow">
    <div class="jumbotron">
      <img src="{{ url_for('static', filename='img/startisthomepage7.jpg') }}"/>
      <div class="createbox blueboxhighlight">create a project</div><div class="joinbox blueboxhighlight">join a project</div>  
    </div>
  </div>

  <div id="container">
  </div>

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.isotope.min.js') }}"></script>
  <script>
    $(function(){
      $('#container').isotope({
        itemSelector: '.box',
        resizesContainer: false
      });
    });

    function shorten(string, limit)
    {
       return string = string.length > limit ? string.substring(0,limit) + "...": string;
    }

    $(document).ready(function(){

      $('.navbar-search').submit(function(event) {
        event.preventDefault();
        var content = '';
        var $form = $( this ),
            search = $form.find( 'input[name="search"]' ).val(),
            url = $form.attr( 'action' );
        jdata = JSON.stringify({"search": search});
        jQuery.ajax({
                type: "POST",
                url: url,
                data: jdata,
                success: function(data) {
                  var users = data;
                  $.each(users, function(index, user) {
                    var link = '{{ url_for("user", username=username) }}' + user.username;
                    content += '<div class="box col2"><div class="thumbnail"><a href="' + link + '"><img src="' + user.pic + '"/></a></div><p>' + user.description + '</p></div>';
                  });
                  $(".jumbotron").html('');
                  $("#container").html(content);
                },  
                dataType: "json",
                contentType: "application/json",
                processData: false
              });
      });
    });
  </script>
  </body>
</html>
