<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jobs &middot; Startist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An online platform for talented users to collaborate on awesome projects">
    <meta name="author" content="cvstechnology">

    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" type="image/x-icon"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/jobs.css') }}" rel="stylesheet" type="text/css"/>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </head>
    
  <body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a href="{{ url_for('signup') }}"><img class="brand" src="{{ url_for('static', filename='img/startist.gif') }}"/></a>
      </div>
    </div>
  </div>
  <div class="container-narrow">

    <div class="jumbotron">
    </br>
      <h3>Startist is hiring!</h3>
      <p>Startist is a collaborative network for creative people and projects. Our platform matches you with the perfect partners to help jumpstart your next creative endeavor. We hope to change and radically improve the way that individuals seek other individuals to collaborate and create amazing work.</p> 

      <p>We are one of ten ERA-backed startups for the <a href="http://eranyc.com/portfolio/" target="_blank">2013 Winter Session</a>. Our office, near Penn Station in Manhattan, is shared with other exciting startups and has a ping-pong table, kegerator, and all the other fun startup jazz.</p>

      <p>We're heavily driven by user-centric design with a focus on technology and engineering as a first class discipline. <br/><br/>Sound intriguing? Then join us! We are looking for amazing people to join us in our NYC office for the following positions: </p>
    </div>
        <div class="row-fluid marketing">
      <div class="span12">
        <div class="jobs">
          <div class="accordion" id="accordion1">
            <div class="accordion-group">
              <div class="accordion-heading">
               <a class="accordion-toggle no-link" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                  Lead Designer
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
              <div class="accordion-inner">
              <p><b>Job Description:</b></p>

              <p>The Lead Designer will work with the Product Owner and CTO to ensure successful products are launched. This is a hands-on role, from the whiteboard, to mock ups, to code - you will be involved in every step of the process. </p>

              <p><b>Requirements:</b></p>
              <ol>
                <li>Excellent UI/UX skills</li>
                <li>Excellent working experience with Adobe Photoshop, Illustrator, and optimization for web.</li>
                <li>Strong HTML, CSS, and JavaScript and the capabilities of web browsers and user interaction.</li>
                <li>Experience with user testing, rapid prototyping and iteration.</li>
                <li>Clean and elegant design aesthetic.</li>
                <li>Strong eye for layout, color and typography.</li>
                <li>Solid intuition of best practices and tools used in user-centered interaction design.</li>
                </ol>
                </br>
                <p>To apply, please <a href="mailto:info@startists.com">email us</a> your resume and a link to your portfolio and we'll be in touch!<p>
              </div>
            </div>
          </div>
          </div>
          <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle no-link" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    Technical Lead Engineer
                </a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                <p><b>Job Description:</b></p>

                <p>Technical Lead Engineer to work on the full stack from transaction processing to building user interfaces.</p>

                <p><b>Requirements:</b></p>
                <ol>  
                  <li>3+ years experience in web application development and architecture to build a stable, high-performance platform, using Python and related technologies for new feature development.</li>
                  <li>Experience with Flask or Django a must.</li>
                  <li>Proficiency with MongoDB replication and sharding.</li>
                  <li>Knows and can talk about web issues such as API design, security, scalability and data management.</li>
                  <li>Strong problem-solving abilities and an attitude for learning new technologies.</li>
                </ol>

                <p><b>A plus but not necessary:</b></p>
                <ol> 
                  <li>Sound knowledge of front-end development including CSS, Javascript and HTML5.</li>
                  <li>Used Amazon EC2 to build a scalable product with Apache WSGI or similar application server.</li>
                </ol>
                </br>
                <p>To apply, please <a href="mailto:info@startists.com">email us</a> your resume and a brief cover letter and we'll be in touch!<p>
              
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="footer">
      <p>&copy; Startist 2013</p>
    </div>

    </div> <!-- /container -->

  </body>
</html>
