<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Join &middot; Startist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An online platform for talented users to collaborate on awesome projects">
    <meta name="author" content="cvstechnology">

    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" type="image/x-icon"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/startist.css') }}" rel="stylesheet" type="text/css"/>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </head>
    
  <body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a href="{{ url_for('home') }}"><img class="brand" src="{{ url_for('static', filename='img/startist.gif') }}"/></a>
      </div>
    </div>
  </div>

  <div class="container-narrow">

    <div class="jumbotron well">
      <h2>Welcome to</h2>
      <p class="lead"><a href="{{ url_for('home') }}"><img class="brand" src="{{ url_for('static', filename='img/startist.gif') }}"/></a></p>
      <h3>Create your account to explore Startist.</h3>
      <p><div class="adjust"><a class="btn btn-large btn-primary facebook" href="{{ url_for('facebook') }}">Facebook</a><a class="btn btn-large btn-primary twitter" href="{{ url_for('twitter') }}">Twitter</a></div></p><br><br>
      <h3>or, sign up with your <a href="/signup">email adddress</a></h3>
    </div>



  </div> <!-- /container -->


  </body>
</html>
