<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Coming Soon &middot; Startist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="An online platform for talented users to collaborate on awesome projects"/>
    <meta name="keywords" content="talent collaborate social network project partner"/>
    <meta name="author" content="cvs"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" type="image/x-icon"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/launch.css') }}" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div id="background-slides">
        <div class="slide"><img src="{{ url_for('static', filename='img/startisthomepage_0.jpg') }}"/></div>
        <div class="slide"><img src="{{ url_for('static', filename='img/startisthomepage_01.jpg') }}"/></div> 
        <div class="slide"><img src="{{ url_for('static', filename='img/startisthomepage_1.jpg') }}"/></div>    
        <div class="slide"><img src="{{ url_for('static', filename='img/startisthomepage_2.jpg') }}"/></div>
        <div class="slide"><img src="{{ url_for('static', filename='img/startisthomepage_3.jpg') }}"/></div>  
        <div class="slide"><img src="{{ url_for('static', filename='img/startisthomepage_4.jpg') }}"/></div>
        <div class="slide"><img src="{{ url_for('static', filename='img/startisthomepage_5.jpg') }}"/></div>
        <div class="slide"><img src="{{ url_for('static', filename='img/startisthomepage_6.jpg') }}"/></div>
        <div class="slide"><img src="{{ url_for('static', filename='img/startisthomepage_7.jpg') }}"/></div>
    </div>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a href="{{ url_for('signup') }}"><img class="brand" src="{{ url_for('static', filename='img/startist.gif') }}"/></a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="signup transparent">
        <div class="leftnav">
          <div class="signup-heading">Startist is launching soon.</div>
          <div class="signup-content">Sign up to be part of our Beta!</div>
          <form class="email" action="{{ url_for('email') }}">
            <div class="controlacti-group pull-left">
              <div class="controls">
                <div class="input-prepend">
                  <span class="add-on"><i class="icon-envelope"></i></span>
                  <input class="span2 input-block-level" id="inputIcon" type="text" name="email" placeholder="email address"><input class="play" type="image" src="{{ url_for('static', filename='img/play.png') }}">
                </div>
              </div>
            </div>        
          </form>
        </div>

        <div class="vertical"> </div>  
        <div class="rightnav">
          <div class="signup-heading"><a href="{{ url_for('jobs') }}">We're Hiring.</a></div>
          <div class="signup-content">Send your resume and a brief cover letter to info[at]startists.com and we'll be in touch!</div>      
        </div> 
      </div> 
    </div>

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.carouFredSel-5.1.3-packed.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fsCarousel.1.0.js') }}"></script>
  <script>
    $(function(){
        $('#background-slides').fsCarousel();
    });

    $(document).ready(function(){
      $(".email").submit(function(event) {
        event.preventDefault();                 
        var $form = $( this ),
            email = $form.find( 'input[name="email"]' ).val(),
            url = $form.attr( 'action' );
        jdata = JSON.stringify({ "email": email});
        jQuery.ajax({
                type: "POST",
                url: url,
                data: jdata,
                success: function(data) {
                  signal = data.valid;
                  if (signal == 0)
                  {
                    $("input[placeholder]").val("Sorry, not a valid email address.");
                  }
                  if (signal == 1)
                  {
                    $("input[placeholder]").val("Thanks, we will notify you soon.");
                  }
                  if (signal == 2)
                  {
                    $("input[placeholder]").val("Cheers, we already got you.");
                  }
                },
                dataType: "json",
                contentType: "application/json",
                processData: false
              });
        $("input[placeholder]").val("validating your email...");  
      });
    });
  </script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37910191-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  </body>
</html>