<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Portfolio &middot; Startist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An online platform for talented users to collaborate on awesome projects">
    <meta name="author" content="cvstechnology">

    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" type="image/x-icon"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/startist.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/bootstrap-fileupload.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/jquery.tagsinput.css') }}" rel="stylesheet" type="text/css"/>
  </head>
  
  <body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a href="{{ url_for('home') }}"><img class="brand" src="{{ url_for('static', filename='img/startist.gif') }}"/></a>
        <div class="lander">
          <div class="nav-collapse collapse pull-right">
              <form class="navbar-search" action="{{ url_for('search', search="all") }}">
                <input type="text" name="search" class="search-query" placeholder="Search">
                <div class="icon-search" style="background-image:url('{{ url_for('static', filename='img/glyphicons-halflings.png') }}');"></div>
              </form>
              <ul class="nav">
              {% if not session.logged_in %}
                <li><a href="{{ url_for('login') }}" data-toggle="modal">login</a></li>
                <li><a href="{{ url_for('join') }}" data-toggle="modal">join</a></li>
              {% else %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ session.name }} <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('user', username=session.username) }}">Profile</a></li>
                    <li><a href="{{ url_for('portfolio', username=session.username) }}">Portfolio</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                  </ul>
                </li>
              {% endif %}
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-narrow">

    {% if session.logged_in and session.username == user.username %}
    <h3>Upload Media</h3>

    <div>
      <input type="radio" name="group" value="picture" checked="yes"><i class="space icon-camera"></i><div class="heading rightspace">Picture</div>
      <input type="radio" name="group" value="youtube"><i class="space icon-play"></i><div class="heading rightspace">YouTube</div>
      <input type="radio" name="group" value="soundcloud"><i class="space icon-music"></i><div class="heading">Soundcloud</div>
    </div>
    <hr>
    <div id="picture" class="upload-media">
      <h4>Upload an image to your portfolio:</h4>
      <form class="fileupload fileupload-new" data-provides="fileupload" enctype="multipart/form-data" method="post" action="{{ url_for('upload_file') }}" target="submit-iframe">
        <div class="fileupload-preview thumbnail" style="width: 200px; height: 200px;"></div>
          <div>
            <span class="btn btn-small btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" name="file" id="file-input"/><input type="hidden" name="origin" value="portfolio"/></span>
            <a href="#" class="smallspace btn btn-small fileupload-exists" data-dismiss="fileupload">Remove</a><button type="submit" class="smallspace btn btn-small fileupload-exists" id="upload-btn">Upload</button>
        </div>
        <iframe id="submit-iframe" name="submit-iframe" style="display:none"></iframe>
      </form>
    </div>

    <div id="youtube" class="upload-media" style="display: none;">
      <h4>Link to a youtube video in your portfolio</h4>
      <form class="submit" action="{{ url_for('update') }}">
        <input type="text" name="link" placeholder="youtube link"/>
        <button type="submit" class="bottomspace smallspace btn btn-small">Submit</button>
      </form>
    </div>
    
    <div id="soundcloud" class="upload-media" style="display: none;">
      <h4>Link to a soundcloud clip in your portfolio</h4>
      <form class="submit" action="{{ url_for('update') }}">
        <input type="text" name="link" placeholder="soundcloud link"/>
        <button type="submit" class="bottomspace smallspace btn btn-small">Submit</button>
      </form>
    </div>
    <hr>
    {% else %}
    <h1><a href="{{ url_for('user', username=user.username) }}">{{ user.name }}</a></h1>
    {% endif %}

    <section id="options">
        <h3>Filters</h3>
        <ul id="filters" class="option-set clearfix" data-option-key="filter">
          <li><a href="#filter" data-option-value="*" class="selected">show all</a></li>
          <li><a href="#filter" data-option-value=".pictures">pictures</a></li>
          <li><a href="#filter" data-option-value=".videos">videos</a></li>
          <li><a href="#filter" data-option-value=".soundcloud">soundcloud</a></li>
        </ul>
    </section> <!-- #options --> 

    <div id="container">
    {% if user.portfolio %}
    {% for file in user.portfolio.media %}
    <div class="box col2 {{ file.class }}" data-category="{{ file.class }}" id="{{ file.id }}">
      <div class="box-container">

        {% if session.logged_in and session.username == user.username %}
        <a class="delete" style="display: none; background: url('{{ url_for('static', filename='img/delete.png')}}') repeat scroll left top transparent;"></a>
        {% endif %}

        {% if file.class == "pictures" %}
        <div class="thumbnail">
          <img src="{{ process_image(file.id) }}"/>
        </div>
        {% endif %}

        {% if file.class == "videos" %}
        <div class="thumbnail">
          <img src="http://img.youtube.com/vi/{{ file.id }}/0.jpg"/>
        </div>
        {% endif %}

        {% if file.class == "soundcloud" %}
        <div class="thumbnail">
          <div class="soundcloud_thumbnail">
            <img src="{{ file.thumbnail }}"/>
          </div>
          <div class="soundcloud_iframe" style="display: none;">
            {{ file.iframe | safe() }}
          </div>
        </div>
        {% else %}
        <div class="caption" style="display: none;">
            {% if file.caption %}
            <div class="caption-input">{{ file.caption }}</div>
            {% else %}
            <div class="caption-input">Add a caption</div>
            {% endif %}
            {% if session.logged_in and session.username == user.username %}
            <button class="btn btn-small trigger" type="button">Edit</button>
            {% endif %}
        </div>

        <div class="labels" style="display: none;">
            <div class="labels-input">
            {% if file.labels %}
            {% for label in file.labels %}  
              <span><a href="{{ url_for('search', search="all") }}?search={{label}}">{{ label }}</a></span>
            {% endfor %}
            {% else %}
            <hint>Add Labels</hint>
            {% endif %}
            </div>
            <div class="labels-input-edit" style="display:none;">
              <input name="tags" class="tags" value=""/>
            </div>
            {% if session.logged_in and session.username == user.username %}
            <button class="btn btn-small edit" type="button">Edit</button>
            {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
    {% endif %}
    </div>

  </div>

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-fileupload.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.isotope.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.tagsinput.js') }}"></script>

  <script>
    $(document).ready(function(){

        var $root = {{ request.script_root|tojson|safe }};        

        var $container = $('#container');

        $container.imagesLoaded(function() {
          $container.isotope({
              itemSelector : '.box',
              transformsEnabled: false,
              containerStyle: { position: 'relative' }
          });
        });

        // load tags library
        $('.tags').tagsInput(
        {
            'height':'32px',
            'width':'338px',
            'minChars' : 1
        });

        // handle youtube and soundcloud submit
        $('.submit').submit(function(event) {
          event.preventDefault();                         
          var $form = $( this ),
              link = $form.find( 'input[name="link"]' ).val(),
              url = $form.attr( 'action' );
            var username = '{{ user.username }}';
            var origin = 'portfolio';
            var command = 'submit-link';
            data = JSON.stringify({"username": username, "parameters": {"link": link}, "origin": origin, "command": command});
            jQuery.ajax({
                    type: 'POST',
                    url: url,
                    data: data,
                    beforeSend: function() {},
                    success: function(data) {
                      $('input[type="text"]').val('');
                      var type = data.link;

                      if (type == 'youtube')
                      {
                        var file_id = data.id;
                        var file_class = data.class;
                        var file_src = 'http://img.youtube.com/vi/' + file_id + '/0.jpg';
                        var delete_button = $root + "/static/img/delete.png";
                        var $newItems = $('<div class="box col2 ' + file_class + '" data-category="' + file_class + '" id="' + file_id + '"><div class="box-container"><a class="delete" style="display: none; background: url(' + delete_button + ') repeat scroll left top transparent;"></a><div class="thumbnail"><img src="' + file_src + '"/></div><div class="caption" style="display: none;"><div class="caption-input">Add a caption</div><button class="btn btn-small trigger" type="button">Edit</button></div><div class="labels" style="display: none;"><div class="labels-input"><hint>Add Labels</hint></div><div class="labels-input-edit" style="display:none;"><input name="tags" class="tags" id="' + file_id + '_tags"  value=""/></div><button class="btn btn-small edit" type="button">Edit</button></div></div></div>');
                      }

                      if (type == 'soundcloud')
                      {
                        var file_id = data.id;
                        var file_class = data.class;
                        var file_src = data.thumbnail;
                        var iframe = data.iframe;
                        var delete_button = $root + "/static/img/delete.png";
                        var $newItems = $('<div class="box col2 ' + file_class + '" data-category="' + file_class + '" id="' + file_id + '"><div class="box-container"><a class="delete" style="display: none; background: url(' + delete_button + ') repeat scroll left top transparent;"></a><div class="thumbnail"><div class="soundcloud_thumbnail"><img src="' + file_src + '"/></div><div class="soundcloud_iframe" style="display: none;">' + iframe + '</div></div>');
                      }

                      $('#container').prepend( $newItems).isotope( 'reloadItems' ).isotope({ sortBy: 'original-order' });

                      $('#'+ file_id + '_tags').tagsInput(
                      {
                          'height':'32px',
                          'width':'338px',
                          'minChars' : 1
                      });

                    },
                    dataType: 'json',
                    contentType: 'application/json',
                    processData: false
                  });
        });

        // capture box click
        $('body').on('click', '.box-container', function(event) {

          var $previousSelected = $(this).parent('.selected');

          // shrink box!
          if ($(this).parent().hasClass('selected')) { 

              var category = $(this).parent().attr('data-category');
              if (category == 'videos'){
                var video_id = $(this).parent().attr('id');
                var content = '<img src="http://img.youtube.com/vi/' +  video_id + '/0.jpg"/>';
                $(this).children('.thumbnail').html(content);
              }

              if (category == 'soundcloud'){
                $(this).children().children('.soundcloud_iframe').hide(); 
                $(this).children().children('.soundcloud_thumbnail').show(); 
                $(this).parent().removeClass('larger'); 
              }

              $(this).children('.delete').hide();
              $(this).children('.caption').hide();
              $(this).children('.labels').hide();
              $(this).parent().removeClass('large');
              $(this).parent().removeClass('selected');
              $(this).parent().addClass('col2');
          } 
          // expand box!
          else {

              var category = $(this).parent().attr('data-category');
              if (category == 'videos'){
                var video_id = $(this).parent().attr('id');
                var content = '<iframe class="youtube-player" type="text/html" width="340" height="300" src="http://www.youtube.com/embed/' + video_id + '" frameborder="0"></iframe>';
                $(this).children('.thumbnail').html(content);
              }

              if (category == 'soundcloud'){
                $(this).children().children('.soundcloud_thumbnail').hide(); 
                $(this).children().children('.soundcloud_iframe').show();
                $(this).parent().addClass('larger'); 
              }


              $(this).children('.delete').show();
              $(this).children('.caption').show();
              $(this).children('.labels').show();

              $previousSelected.removeClass('selected');
              $(this).parent().removeClass('col2');
              $(this).parent().addClass('large');
              $(this).parent().addClass('selected');   
          }
        $container.isotope('reLayout');
      });


      // edit captions
      $('body').on('click', '.trigger', function(event) {

          var button = $(this).parent().find('button').text();
          if (button == "Edit") 
          {
            event.stopPropagation();
            if ($('.caption-input').children('input').length == 0) 
            {
              var location = $(this).parent();
              $(this).parent().find('button').text("Finished");
              var inputbox = '<input class="inputbox" value="' + $('.caption-input', location).text() + '">';
              $('.caption-input', location).html(inputbox);
              $('input.inputbox', location).focus();
              $('input.inputbox', location).select();
              $('input.inputbox', location).keypress(function(e) {
                  if(e.which == 13) {
                      e.preventDefault();
                      $('button', location).click(); 
                    }
                });
            }
            return;
          }            
          if (button == "Finished")
          {         
            event.stopPropagation();
            var location = $(this).parent();
            var currentId = $(this).parent().parent().parent().attr('id');
            $(this).parent().find('button').text("Edit");
            var value = $('input.inputbox', location).val();
            if (value == '')
            {
              $('.caption-input', location).text('Add a caption');
              return;
            }
            $('.caption-input', location).text(value);
            var url = '{{ url_for('update') }}';
            var username = '{{ user.username }}';
            var origin = 'portfolio';
            var command = 'update-caption';
            data = JSON.stringify({"username": username, "parameters": {"media": currentId, "caption": value}, "origin": origin, "command": command});
            jQuery.ajax({
                    type: 'POST',
                    url: url,
                    data: data,
                    beforeSend: function() {},
                    success: function(data) {},
                    dataType: 'json',
                    contentType: 'application/json',
                    processData: false
                  });
            return;
          }
      });

      // edit tags
      $('body').on('click', '.edit', function(event) {

        var button = $(this).text();
        if (button == "Edit")
        { 
          event.stopPropagation();
          $(this).text("Finished");
          var labels = '';
          $(this).parent().find('.labels-input span').each(function(){
              labels += $(this).text();
              labels += ','
          });
          $(this).parent().children('.labels-input').hide();
          $(this).parent().find('.tags').importTags(labels);
          $(this).parent().children('.labels-input-edit').show();
          $(this).parent().children('.tags').focus();
          return;
        }

        if (button == "Finished") 
        {
          event.stopPropagation();
          $(this).text("Edit");
          var currentId = $(this).parent().parent().parent().attr('id');
          var labels = $(this).parent().find('.tags').val();
          $(this).parent().children('.labels-input-edit').hide();
          $(this).parent().children('.labels-input').show();
          var content = '';
          var array = labels.split(',');
          if (array[0] == '')
          {
            array = [];
            content += '<hint>Add Labels</hint>';
          }
          for (var i = 0; i < array.length; i++) {
            content += '<span><a href="{{ url_for("search", search="all") }}?search=' + array[i] + '">' + array[i] + '</a></span>';
          }
          $(this).parent().children('.labels-input').html(content);
          var url = '{{ url_for('update') }}';
          var username = '{{ user.username }}';
          var origin = 'portfolio';
          var command = 'update-labels';
          data = JSON.stringify({"username": username, "parameters": {"media": currentId, "labels": array}, "origin": origin, "command": command});
          jQuery.ajax({
                  type: 'POST',
                  url: url,
                  data: data,
                  beforeSend: function() {},
                  success: function(data) {},
                  dataType: 'json',
                  contentType: 'application/json',
                  processData: false
                });
          return;
        }
      });

      // stop click propagations
      $('body').on('click', '.labels-input-edit', function(event) {
        event.stopPropagation();
      });

      $('body').on('click', '.caption-input', function(event) {  
        event.stopPropagation();
      });

      $('body').on('click', '.labels-input', function(event) {
        event.stopPropagation();
      });
     
      $('body').on('click', '.labels-input span', function(event) {
        event.stopPropagation();
      });

      $('body').on('click', '.labels-input span a', function(event) {
        event.stopPropagation();
      });

      // capture delete 
      $('body').on('click', '.delete', function(event) {

        var box = $(this).parent().parent();
        var currentId = box.attr('id');
        var url = '{{ url_for('update') }}';
        var username = '{{ user.username }}';
        var origin = 'portfolio';
        var command = 'delete-box';
        data = JSON.stringify({"username": username, "parameters": {"media": currentId}, "origin": origin, "command": command});
        jQuery.ajax({
                type: "POST",
                url: url,
                data: data,
                beforeSend: function() {},
                success: function(data) {
                  if (box) {
                      $container.isotope('remove', box);
                      $container.isotope('reLayout');
                  }
                },
                dataType: "json",
                contentType: "application/json",
                processData: false
              });          
      });

      var $optionSets = $('#options .option-set'),
          $optionLinks = $optionSets.find('a');

      // isotope filter
      $optionLinks.click(function(){
        var $this = $(this);
        if ( $this.hasClass('selected') ) {
          return false;
        }
        var $optionSet = $this.parents('.option-set');
        $optionSet.find('.selected').removeClass('selected');
        $this.addClass('selected');
  
        var options = {},
            key = $optionSet.attr('data-option-key'),
            value = $this.attr('data-option-value');
        value = value === 'false' ? false : value;

        options[ key ] = value;
        if ( key === 'layoutMode' && typeof changeLayoutMode === 'function' ) {
          changeLayoutMode( $this, options )
        } else {
          $container.isotope( options );
        }
        
        return false;
      });

      // change file type
      $("input[name$='group']").click(function() {
          var checked = $(this).val();
          $(".upload-media").hide();
          $("#"+checked).show();
      }); 

      // test file upload without page refresh
      $('#submit-iframe').load(function() {

        var response = frames['submit-iframe'].document.getElementsByTagName("body")[0].innerHTML; 
        var return_json = JSON.parse(response);
        var file_id = return_json.id;
        var file_class = return_json.class;

        var delete_button = $root + "/static/img/delete.png";
        var file_src = $root + "/image/" + file_id;

        var $newItems = $('<div class="box col2 ' + file_class + '" data-category="' + file_class + '" id="' + file_id + '"><div class="box-container"><a class="delete" style="display: none; background: url(' + delete_button + ') repeat scroll left top transparent;"></a><div class="thumbnail"><img src="' + file_src + '"/></div><div class="caption" style="display: none;"><div class="caption-input">Add a caption</div><button class="btn btn-small trigger" type="button">Edit</button></div><div class="labels" style="display: none;"><div class="labels-input"><hint>Add Labels</hint></div><div class="labels-input-edit" style="display:none;"><input name="tags" class="tags" id="' + file_id + '_tags"  value=""/></div><button class="btn btn-small edit" type="button">Edit</button></div></div></div>');

        $('#container').prepend( $newItems).isotope( 'reloadItems' ).isotope({ sortBy: 'original-order' });

        $('#'+ file_id + '_tags').tagsInput(
        {
            'height':'32px',
            'width':'338px',
            'minChars' : 1
        });

        $('form').removeClass('fileupload-exists');
        $('form').addClass('fileupload-new');
        $('.fileupload-preview').html("");
        $('input[type="text"]').val('');
      });

  });
  </script>

  </body>
</html>
