<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.isotope.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.tagsinput.js') }}"></script>

<script>
    $(document).ready(function(){
        
        var $container = $('#container');

        $container.imagesLoaded(function() {
          $container.isotope({
              itemSelector : '.box',
              transformsEnabled: false,
              containerStyle: { position: 'relative' }
          });
        });

       $('.tags').tagsInput(
        {
            'height':'32px',
            'width':'338px',
            'minChars' : 1
        });

      $('.box-container').click(function(event) {

          var $previousSelected = $(this).parent('.selected');

          // shrink box!
          if ($(this).parent().hasClass('selected')) { 

              var category = $(this).parent().attr('data-category');
              if (category == 'videos'){
                var video_id = $(this).parent().attr('id');
                var content = '<img src="http://img.youtube.com/vi/' +  video_id + '/0.jpg"/>';
                $(this).children('.thumbnail').html(content);
              }

              if (category == 'soundcloud'){
                $(this).children().children('.soundcloud_iframe').hide(); 
                $(this).children().children('.soundcloud_thumbnail').show(); 
                $(this).parent().removeClass('larger'); 
              }

              $(this).children('.caption').hide();
              $(this).children('.labels').hide();
              $(this).parent().removeClass('large');
              $(this).parent().removeClass('selected');
              $(this).parent().addClass('col2');
          } 
          // expand box!
          else {

              var category = $(this).parent().attr('data-category');
              if (category == 'videos'){
                var video_id = $(this).parent().attr('id');
                var content = '<iframe class="youtube-player" type="text/html" width="340" height="300" src="http://www.youtube.com/embed/' + video_id + '" frameborder="0"></iframe>';
                $(this).children('.thumbnail').html(content);
              }

              if (category == 'soundcloud'){
                $(this).children().children('.soundcloud_thumbnail').hide(); 
                $(this).children().children('.soundcloud_iframe').show();
                $(this).parent().addClass('larger'); 
              }


              $(this).children('.caption').show();
              $(this).children('.labels').show();

              $previousSelected.removeClass('selected');
              $(this).parent().removeClass('col2');
              $(this).parent().addClass('large');
              $(this).parent().addClass('selected');   
          }
        $container.isotope('reLayout');
      });

      $('.trigger').click(function(event) {
          var button = $(this).parent().find('button').text();
          if (button == "Edit") 
          {
            event.stopPropagation();
            if ($('.caption-input').children('input').length == 0) 
            {
              var location = $(this).parent();
              $(this).parent().find('button').text("Finished");

              // create the HTML to insert into the div - escape any " characters 
              var inputbox = '<input class="inputbox" value="' + $('.caption-input', location).text() + '">';
              
              // insert the HTML into the div
              $('.caption-input', location).html(inputbox);
              
              // give the input box focus.
              $('input.inputbox', location).focus();

              $('input.inputbox', location).select();

              $('input.inputbox', location).keypress(function(e) {
                  if(e.which == 13) {
                      e.preventDefault();
                      $('.trigger').click(); 
                    }
                });
            }
            return;
          }            
          if (button == "Finished")
          {         
            event.stopPropagation();
            var location = $(this).parent();
            var currentId = $(this).parent().parent().parent().attr('id');
            $(this).parent().find('button').text("Edit");
            var value = $('input.inputbox', location).val();
            if (value == '')
            {
              $('.caption-input', location).text('Add a caption');
              return;
            }
            $('.caption-input', location).text(value);
            var url = '{{ url_for('update') }}';
            var username = '{{ user.username }}';
            var search = JSON.stringify({"username": username, "portfolio.media.id": currentId});
            var update = JSON.stringify({"portfolio.media.$.caption": value});
            data = JSON.stringify({"search": search, "update": update});
            jQuery.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    beforeSend: function() {},
                    success: function(data) {},
                    dataType: "json",
                    contentType: "application/json",
                    processData: false
                  });
            return;
          }
      });

      $('.edit').click(function(event) {
        var button = $(this).text();
        if (button == "Edit")
        { 
          event.stopPropagation();
          $(this).text("Finished");
          var labels = '';
          $(this).parent().find('.labels-input span').each(function(){
              labels += $(this).text();
              labels += ','
          });
          $(this).parent().children('.labels-input').hide();
          $(this).parent().find('.tags').importTags(labels);
          $(this).parent().children('.labels-input-edit').show();
          $(this).parent().children('.tags').focus();
          return;
        }

        if (button == "Finished") 
        {
          event.stopPropagation();
          $(this).text("Edit");
          var currentId = $(this).parent().parent().parent().attr('id');
          var labels = $(this).parent().find('.tags').val();
          $(this).parent().children('.labels-input-edit').hide();
          $(this).parent().children('.labels-input').show();
          var content = '';
          var array = labels.split(',');
          if (array[0] == '')
          {
            array = [];
            content += '<hint>Add Labels</hint>';
          }
          for (var i = 0; i < array.length; i++) {
            content += '<span>' + array[i] + '</span>';
          }
          $(this).parent().children('.labels-input').html(content);
          var url = '{{ url_for('update') }}';
          var username = '{{ user.username }}';
          var search = JSON.stringify({"username": username, "portfolio.media.id": currentId});
          var update = JSON.stringify({"portfolio.media.$.labels": array});
          data = JSON.stringify({"search": search, "update": update});
          jQuery.ajax({
                  type: "POST",
                  url: url,
                  data: data,
                  beforeSend: function() {},
                  success: function(data) {},
                  dataType: "json",
                  contentType: "application/json",
                  processData: false
                });
          return;
        }
      });

        $('.labels-input-edit').click(function(event) {
          event.stopPropagation();
        });

        $('.caption-input').click(function(event) {
          event.stopPropagation();
        });
    
        var $optionSets = $('#options .option-set'),
            $optionLinks = $optionSets.find('a');

        $optionLinks.click(function(){
          var $this = $(this);
          // don't proceed if already selected
          if ( $this.hasClass('selected') ) {
            return false;
          }
          var $optionSet = $this.parents('.option-set');
          $optionSet.find('.selected').removeClass('selected');
          $this.addClass('selected');
    
          // make option object dynamically, i.e. { filter: '.my-filter-class' }
          var options = {},
              key = $optionSet.attr('data-option-key'),
              value = $this.attr('data-option-value');
          // parse 'false' as false boolean
          value = value === 'false' ? false : value;

          options[ key ] = value;
          if ( key === 'layoutMode' && typeof changeLayoutMode === 'function' ) {
            // changes in layout modes need extra logic
            changeLayoutMode( $this, options )
          } else {
            // otherwise, apply new options
            $container.isotope( options );
          }
          
          return false;
        });
    });
</script>

<section id="options">
    <h3>Filters</h3>
    <ul id="filters" class="option-set clearfix" data-option-key="filter">
      <li><a href="#filter" data-option-value="*" class="selected">show all</a></li>
      <li><a href="#filter" data-option-value=".pictures">pictures</a></li>
      <li><a href="#filter" data-option-value=".videos">videos</a></li>
      <li><a href="#filter" data-option-value=".soundcloud">soundcloud</a></li>
    </ul>
</section> <!-- #options --> 

<div id="container">
{% if user.portfolio %}
{% for file in user.portfolio.media %}
<div class="box col2 {{ file.class }}" data-category="{{ file.class }}" id="{{ file.id }}">
  <div class="box-container">
    
    {% if file.class == "pictures" %}
    <div class="thumbnail">
      <img src="{{ url_for('get_image', id=file.id) }}"/>
    </div>
    {% endif %}

    {% if file.class == "videos" %}
    <div class="thumbnail">
      <img src="http://img.youtube.com/vi/{{ file.id }}/0.jpg"/>
    </div>
    {% endif %}

    {% if file.class == "soundcloud" %}
    <div class="thumbnail">
      <div class="soundcloud_thumbnail">
        <img src="{{ file.thumbnail }}"/>
      </div>
      <div class="soundcloud_iframe" style="display: none;">
        {{ file.iframe | safe() }}
      </div>
    </div>
    {% else %}
    <div class="caption" style="display: none;">
        {% if file.caption %}
        <div class="caption-input">{{ file.caption }}</div>
        {% else %}
        <div class="caption-input">Add a caption</div>
        {% endif %}
        {% if session.logged_in and session.username == user.username %}
        <button class="btn btn-small trigger" type="button">Edit</button>
        {% endif %}
    </div>

    <div class="labels" style="display: none;">
        <div class="labels-input">
        {% if file.labels %}
        {% for label in file.labels %}  
          <span>{{ label }}</span>
        {% endfor %}
        {% else %}
        <hint>Add Labels</hint>
        {% endif %}
        </div>
        <div class="labels-input-edit" style="display:none;">
          <input name="tags" class="tags" value=""/>
        </div>
        {% if session.logged_in and session.username == user.username %}
        <button class="btn btn-small edit" type="button">Edit</button>
        {% endif %}
    </div>
    {% endif %}
  </div>
</div>
{% endfor %}
{% endif %}
</div>
