<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Portfolio &middot; Startist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An online platform for talented users to collaborate on awesome projects">
    <meta name="author" content="cvstechnology">

    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" type="image/x-icon"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/startist.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/bootstrap-fileupload.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/jquery.tagsinput.css') }}" rel="stylesheet" type="text/css"/>
  </head>
  
  <body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a href="{{ url_for('home') }}"><img class="brand" src="{{ url_for('static', filename='img/startist.gif') }}"/></a>
        <div class="lander">
          <div class="nav-collapse collapse pull-right">
              <form class="navbar-search" action="{{ url_for('search', search="all") }}">
                <input type="text" name="search" class="search-query" placeholder="Search">
                <div class="icon-search" style="background-image:url('{{ url_for('static', filename='img/glyphicons-halflings.png') }}');"></div>
              </form>
              <ul class="nav">
              {% if not session.logged_in %}
                <li><a href="{{ url_for('login') }}" data-toggle="modal">login</a></li>
                <li><a href="{{ url_for('join') }}" data-toggle="modal">join</a></li>
              {% else %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ session.name }} <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('user', username=session.username) }}">Profile</a></li>
                    <li><a href="{{ url_for('portfolio', username=session.username) }}">Portfolio</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                  </ul>
                </li>
              {% endif %}
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-narrow">

    {% if session.logged_in and session.username == user.username %}
    <h3>Upload Media</h3>

    <div>
      <input type="radio" name="group" value="picture" checked="yes"><i class="space icon-camera"></i><div class="heading rightspace">Picture</div>
      <input type="radio" name="group" value="youtube"><i class="space icon-play"></i><div class="heading rightspace">YouTube</div>
      <input type="radio" name="group" value="soundcloud"><i class="space icon-music"></i><div class="heading">Soundcloud</div>
    </div>
    <hr>
    <div id="picture" class="upload-media">
      <h4>Upload an image to your portfolio:</h4>
      <form class="fileupload fileupload-new" data-provides="fileupload" enctype="multipart/form-data" method="post" action="{{ url_for('upload_file') }}" target="submit-iframe">
        <div class="fileupload-preview thumbnail" style="width: 200px; height: 200px;"></div>
          <div>
            <span class="btn btn-small btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" name="file" id="file-input"/><input type="hidden" name="origin" value="portfolio"/></span>
            <a href="#" class="smallspace btn btn-small fileupload-exists" data-dismiss="fileupload">Remove</a><button type="submit" class="smallspace btn btn-small fileupload-exists" id="upload-btn">Upload</button>
        </div>
        <iframe id="submit-iframe" name="submit-iframe" style="display:none"></iframe>
      </form>
    </div>

    <div id="youtube" class="upload-media" style="display: none;">
      <h4>Link to a youtube video in your portfolio</h4>
      <form class="youtube" method="post" action="{{ url_for('submit') }}" target="submit-iframe">
        <input type="text" name="link" placeholder="youtube link"/>
        <button type="submit" class="bottomspace smallspace btn btn-small">Submit</button>
      </form>
    </div>
    
    <div id="soundcloud" class="upload-media" style="display: none;">
      <h4>Link to a soundcloud clip in your portfolio</h4>
      <form class="soundcloud" method="post" action="{{ url_for('submit') }}" target="submit-iframe">
        <input type="text" name="link" placeholder="soundcloud link"/>
        <button type="submit" class="bottomspace smallspace btn btn-small">Submit</button>
      </form>
    </div>
    <hr>
    {% else %}
    <h1><a href="{{ url_for('user', username=user.username) }}">{{ user.name }}</a></h1>
    {% endif %}

    <div class="isotope-display"></div>

  </div>

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-fileupload.min.js') }}"></script>

  <script>
    $(function(){

      $('.isotope-display').load("{{ url_for('get_portfolio', username=user.username) }}");

      $("input[name$='group']").click(function() {
          var checked = $(this).val();
          $(".upload-media").hide();
          $("#"+checked).show();
      }); 

      $('#submit-iframe').load(function() {
        $('.isotope-display').load("{{ url_for('get_portfolio', username=user.username) }}");
        $('.isotope-display').hide().fadeIn('fast');
        $('form').removeClass('fileupload-exists');
        $('form').addClass('fileupload-new');
        $('.fileupload-preview').html("");
        $('input[type="text"]').val('');
      });
    });
  </script>

  </body>
</html>
