<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Profile &middot; Startist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An online platform for talented users to collaborate on awesome projects">
    <meta name="author" content="cvstechnology">

    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" type="image/x-icon"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/startist.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/bootstrap-fileupload.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/jquery.tagsinput.css') }}" rel="stylesheet" type="text/css"/>
  </head>
  
  <body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a href="{{ url_for('home') }}"><img class="brand" src="{{ url_for('static', filename='img/startist.gif') }}"/></a>
        <div class="lander">
          <div class="nav-collapse collapse pull-right">
            <form class="navbar-search" action="{{ url_for('search', search="all") }}">
              <input type="text" name="search" class="search-query" placeholder="Search">
              <div class="icon-search" style="background-image:url('{{ url_for('static', filename='img/glyphicons-halflings.png') }}');"></div>
            </form>
              <ul class="nav">
              {% if not session.logged_in %}
                <li><a href="{{ url_for('login') }}" data-toggle="modal">login</a></li>
                <li><a href="{{ url_for('join') }}" data-toggle="modal">join</a></li>
              {% else %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ session.name }} <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('messages', username=session.username) }}">Messages</a></li>
                    <li><a href="{{ url_for('user', username=session.username) }}">Profile</a></li>
                    <li><a href="{{ url_for('portfolio', username=session.username) }}">Portfolio</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                  </ul>
                </li>
              {% endif %}
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-narrow">
    <div class="row-fluid">
      <div class="span8">
        <h1><a href="{{ url_for('user', username=user.username) }}">{{ user.name }}</a></h1>
          <div class="profile-description">{{ user.description | nl2br }}</div>
          {% if session.logged_in and session.username == user.username %}
          <button class="btn btn-small profile-description-trigger" type="button">Edit</button>
          {% endif %}
      </div>
      <div class="span4">
        {% if session.logged_in %}
          {% if not (session.username == user.username) %}
            {% if user.followers %}
              {% if session.username in user.followers.profiles %}
              <a class="btn btn-small pull-right largetopspace" id="follow">UNFOLLOW <i class="icon-thumbs-down"></i></a>
              {% else %}
              <a class="btn btn-small pull-right largetopspace" id="follow">FOLLOW <i class="icon-thumbs-up"></i></a>
              {% endif %}
            {% else %}
            <a class="btn btn-small pull-right largetopspace" id="follow">FOLLOW <i class="icon-thumbs-up"></i></a>                  
            {% endif %} 
          {% endif %}        
        {% endif %}
        
        {% if session.logged_in and session.username == user.username %}
        <form class="fileupload fileupload-new pull-right" data-provides="fileupload" enctype="multipart/form-data" method="post" action="{{ url_for('upload_file') }}" target="submit-iframe">
          <div class="fileupload-preview thumbnail extratopspace" style="width: 200px;"><img src="{{ process_image(user.pic) }}" width="100%"></div>
            <div>
              <span class="btn btn-small btn-file"><span class="fileupload-new">Edit</span><span class="fileupload-exists">Change</span><input type="file" name="file" id="file-input"/><input type="hidden" name="origin" value="profile"/></span>
              <a href="#" class="smallspace btn btn-small fileupload-exists" data-dismiss="fileupload">Remove</a><button type="submit" class="smallspace btn btn-small fileupload-exists" id="upload-btn">Upload</button>
          </div>
          <iframe id="submit-iframe" name="submit-iframe" style="display:none"></iframe>
        </form>
        {% else %}
        {% if not session.logged_in %}
        <div class="extratopspace profile-pic pull-right"><img src="{{ process_image(user.pic) }}" width="100%"></div>
        {% else %}
        <div class="xlargetopspace profile-pic pull-right"><img src="{{ process_image(user.pic) }}" width="100%"></div>
        {% endif %}
        {% endif %}

        <div style="clear: both;"></div>
        <div class="profile-summary pull-right">
          <div>Projects: {{ user.projects | length }}</div>
          <div>Partners: {% if user.projects %} {{ user.projects.partners | length }} {% else %} 0 {% endif %}</div>
          <div>Followers: {% if user.followers %} {{ user.followers.profiles | length }} {% else %} 0 {% endif %}</div>
          <div>Following: {% if user.following %} {{ user.following.profiles | length }} {% else %} 0 {% endif %}</div>
          <div>Member Since: {{ format_date(user.added_at) }}</div>
          {% if session.logged_in %}
            {% if session.username != user.username %}
          <div><a class="btn" href="{{ url_for('messages', username=session.username, to=user.username) }}"><i class="icon-envelope"></i> Contact</a></div>
            {% endif %}
          {% endif %}
        </div>  
      </div>     
    </div>
    <br>

    <hr>

    <h3>Skills</h3>
    <div class="row-fluid">
      <div class="profile-skills">
        <div class="profile-skills-input">
        {% if user.skills %}
        {% for skill in user.skills %}  
          <span><a href="{{ url_for('search', search="all") }}?search={{skill}}">{{ skill }}</a></span>
        {% endfor %}
        {% else %}
        {% if session.logged_in and session.username == user.username %}
        <hint>Add Skills</hint>
        {% else %}
        <hint>No Skills!</hint>
        {% endif %}
        {% endif %}
        </div>
        <div class="profile-skills-input-edit" style="display:none;">
          <input name="tags" id="tags" value=""/>
        </div>    
      </div>
      {% if session.logged_in and session.username == user.username %}
      <button class="btn btn-small profile-skills-trigger" type="button">Edit</button>
      {% endif %}
    </div>  

    <hr>

    <h3>Portfolio</h3>
      <div class="row-fluid">
        {% if session.logged_in and session.username == user.username %}
        {% if user.portfolio %}
        <a href="{{ url_for('portfolio', username=user.username) }}"><div class="thumbnail dash" style="width: 100px; height: 100px;"><p>Edit Portfolio</p></div></a>
        {% else %}
        <a href="{{ url_for('portfolio', username=user.username) }}"><div class="thumbnail dash" style="width: 100px; height: 100px;"><p>Add Portfolio</p></div></a>
        {% endif %}
        {% else %}
        <a href="{{ url_for('portfolio', username=user.username) }}"><div class="thumbnail dash" style="width: 100px; height: 100px;"><p>View Portfolio</p></div></a>
        {% endif %}
      </div>  

    <hr>

    <h3>Projects</h3>
      <div class="row-fluid">
        {% if session.logged_in and session.username == user.username %}
        {% if user.projects %}
        {% for project in user.projects %}
        <a href="{{ url_for('project', username=user.username, project_id=project.id) }}"><div class="thumbnail dash" style="width: 100px; height: 100px; float: left; margin-right: 10px;"><p>Edit {{ project.name }}</p></div></a>
        {% endfor %}
        {% endif %}
        <a href="{{ url_for('create_project', username=user.username) }}"><div class="thumbnail dash" style="width: 100px; height: 100px; float: left; margin-right: 10px;"><p>Add Project</p></div></a>
        {% else %}
        {% if user.projects %}
        {% for project in user.projects %}
        <a href="{{ url_for('project', username=user.username, project_id=project.id) }}"><div class="thumbnail dash" style="width: 100px; height: 100px; float: left; margin-right: 10px;"><p>View {{ project.name }}</p></div></a>
        {% endfor %}
        {% endif %}
        {% endif %}
      </div>

    <div style="clear: both;"></div>

    <hr>

    <h3>Following</h3>
      <div class="row-fluid">
        {% if user.following %}
        {% for username in user.following.profiles %}
        <a href="{{ url_for('user', username=username) }}">
          <div class="thumbnail dash" style="width: 60px; height: auto; float: left; margin-right: 10px;">
            <img src="{{ process_image(get_user(username).pic) }}"/>
          </div>
        </a>
        {% endfor %}
        {% endif %}
      </div>

    <div style="clear: both;"></div>

  </div>

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-fileupload.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.tagsinput.js') }}"></script>
  <script>
    $(document).ready(function(){

      // follow or unfollow profile
      $('#follow').click(

        function(event){
          if ($(this).text() == 'FOLLOW ')
          {
            var url = '{{ url_for('update') }}';
            var username = '{{ session.username }}';
            var following = '{{ user.username }}';
            var origin = 'profile';
            var command = 'follow-profile';
            data = JSON.stringify({"username": username, "parameters": {"following": following}, "origin": origin, "command": command});
            jQuery.ajax({
              type: 'POST',
              url: url,
              data: data,
              beforeSend: function() {},
              success: function(data) {$('#follow').html("UNFOLLOW <i class='icon-thumbs-down'></i>");},
              dataType: 'json',
              contentType: 'application/json',
              processData: false
            });    
            return;
          }

          if ($(this).text() == 'UNFOLLOW ') 
          {
            var url = '{{ url_for('update') }}';
            var username = '{{ session.username }}';
            var following = '{{ user.username }}';
            var origin = 'profile';
            var command = 'unfollow-profile';
            data = JSON.stringify({"username": username, "parameters": {"following": following}, "origin": origin, "command": command});
            jQuery.ajax({
              type: 'POST',
              url: url,
              data: data,
              beforeSend: function() {},
              success: function(data) {$('#follow').html("FOLLOW <i class='icon-thumbs-up'></i>");},
              dataType: 'json',
              contentType: 'application/json',
              processData: false
            });         
            return;
          }
      });

      // edit profile description
      $('.profile-description-trigger').toggle(

        function(){
          if ($('.profile-description').children('input').length == 0) {
              var location = $(this).parent();
              $(this).text('Finished');
              var inputbox = '<textarea class="profile-description-input" style="height: 300px;">' + $('.profile-description', location).text() + '</textarea>';
              $('.profile-description', location).html(inputbox);
              $('textarea.profile-description-input', location).select();
              $('textarea.profile-description-input', location).focus();
            }
        },
        
        function(){
              var location = $(this).parent();
              $(this).text('Edit');
              var value = $('textarea.profile-description-input', location).val();
              var newvalue = value;
              newvalue = newvalue.replace(/\r?\n/g, "<br>\n");
              $('.profile-description', location).html(newvalue);
              var url = '{{ url_for('update') }}';
              var username = '{{ user.username }}';
              var origin = 'profile';
              var command = 'update-description';
              data = JSON.stringify({"username": username, "parameters": {"description": value}, "origin": origin, "command": command});
              jQuery.ajax({
                type: 'POST',
                url: url,
                data: data,
                beforeSend: function() {},
                success: function(data) {},
                dataType: 'json',
                contentType: 'application/json',
                processData: false
              });
        }
      );

      // call tags library for profile skills input
      $('#tags').tagsInput(
        {
          'height':'32px',
          'width':'900px',
          'minChars' : 1
        });

      // edit profile skills
      $('.profile-skills-trigger').toggle( 

        function() {
          $(this).text('Finished');

          var skills = '';
          $('.profile-skills-input span').each(function(){
              skills += $(this).text();
              skills += ','
          });
          $('.profile-skills-input').hide();
          $('#tags').importTags(skills);
          $('.profile-skills-input-edit').show();
          $('.profile-skills-input-edit').children('.tagsinput').click();
        },

        function() {
          $(this).text('Edit');

          var skills = $("#tags").val();
          $('.profile-skills-input-edit').hide();
          $('.profile-skills-input').show();
          var content = '';
          var array = skills.split(',');
          if (array[0] == '')
          {
            array = [];
            content += '<hint>Add Skills</hint>';
          }
          for (var i = 0; i < array.length; i++) {
            content += '<span><a href="{{ url_for("search", search="all") }}?search=' + array[i] + '">' + array[i] + '</a></span>';
          }
          $('.profile-skills-input').html(content);
  
          var url = '{{ url_for('update') }}';
          var username = '{{ user.username }}';
          var origin = 'profile';
          var command = 'update-skills';
          data = JSON.stringify({"username": username, "parameters": {"skills": array}, "origin": origin, "command": command});
          jQuery.ajax({
                  type: "POST",
                  url: url,
                  data: data,
                  beforeSend: function() {},
                  success: function(data) {},
                  dataType: "json",
                  contentType: "application/json",
                  processData: false
                });
          }
        );

        // upload iframe
        $('#submit-iframe').load(function() {
          $('form').removeClass('fileupload-exists');
          $('form').addClass('fileupload-new');     
        });

      });
  </script>

  </body>
</html>
