<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Profile &middot; Startist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An online platform for talented users to collaborate on awesome projects">
    <meta name="author" content="cvstechnology">

    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" type="image/x-icon"/>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/startist.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/bootstrap-fileupload.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='css/jquery.tagsinput.css') }}" rel="stylesheet" type="text/css"/>
  </head>
  
  <body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a href="{{ url_for('home') }}"><img class="brand" src="{{ url_for('static', filename='img/startist.gif') }}"/></a>
        <div class="lander">
          <div class="nav-collapse collapse pull-right">
              <ul class="nav">
              {% if not session.logged_in %}
                <li><a href="{{ url_for('login') }}" data-toggle="modal">login</a></li>
                <li><a href="{{ url_for('join') }}" data-toggle="modal">join</a></li>
              {% else %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ session.name }} <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('user', username=session.username) }}">Profile</a></li>
                    <li><a href="{{ url_for('portfolio', username=session.username) }}">Portfolio</a></li>
                    <li class="divider"></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                  </ul>
                </li>
              {% endif %}
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-narrow">
    <div class="row-fluid">
      <div class="span8">
        <h1><a href="{{ url_for('user', username=user.username) }}">{{ user.name }}</a></h1>
          <div class="profile-box editme">{{ user.description | nl2br }}</div>
          {% if session.logged_in and session.username == user.username %}
          <div class="trigger"><button class="btn btn-small" type="button">Edit</button></div>
          {% endif %}
      </div>
      <div class="span4">
        <div class="profile-summary">
          <div class="profile-pic"><img src="{{ user.pic }}"/></div>
          <br>
          <div>Projects: {{ user.projects | length }}</div>
          <div>Partners:</div>
          <div>Followers:</div>
          <div>Following:</div>
          <div>Follow +</div>
          <div>Contact</div>
          <div>Member Since:</div>
        </div>  
      </div>     
    </div>
    <br>
<!--     <form class="fileupload fileupload-new" data-provides="fileupload" enctype="multipart/form-data" method="post" action="{{ url_for('upload_file') }}" target="submit-iframe">
      <div class="fileupload-preview thumbnail" style="width: 200px; height: 200px;"></div>
        <div>
          <span class="btn btn-small btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" name="file" id="file-input"/></span>
          <a href="#" class="smallspace btn btn-small fileupload-exists" data-dismiss="fileupload">Remove</a><button type="submit" class="smallspace btn btn-small fileupload-exists" id="upload-btn">Upload</button>
      </div>
      <iframe id="submit-iframe" name="submit-iframe" class="invisible"></iframe>
    </form> -->
    <hr>
    <h3>Skills</h3>
    <div class="skills">
      <div class="skills-input">
      {% if user.skills %}
      {% for skill in user.skills %}  
        <span>{{ skill }}</span>
      {% endfor %}
      {% else %}
      <hint>Add Skills</hint>
      {% endif %}
      </div>
      <div class="skills-input-edit" style="display:none;">
        <input name="tags" id="tags" value=""/>
      </div>    
    </div>
    {% if session.logged_in and session.username == user.username %}
    <div class="edit"><button class="btn btn-small" type="button">Edit</button></div>
    {% endif %}
    <hr>
    <h3>Portfolio</h3>
    {% if session.logged_in and session.username == user.username %}
    {% if user.portfolio %}
    <a href="{{ url_for('portfolio', username=user.username) }}"><div class="thumbnail dash" style="width: 100px; height: 100px;"><p>Edit Portfolio</p></div></a>
    {% else %}
    <a href="{{ url_for('portfolio', username=user.username) }}"><div class="thumbnail dash" style="width: 100px; height: 100px;"><p>Add Portfolio</p></div></a>
    {% endif %}
    {% else %}
    <a href="{{ url_for('portfolio', username=user.username) }}"><div class="thumbnail dash" style="width: 100px; height: 100px;"><p>View Portfolio</p></div></a>
    {% endif %}
    <hr>
    <h3>Projects</h3>
    {% if session.logged_in and session.username == user.username %}
    {% if user.projects %}
    {% for project in user.projects %}
    <a href="{{ url_for('project', username=user.username, project_id=project.id) }}"><div class="thumbnail dash" style="width: 100px; height: 100px; float: left; margin-right: 10px;"><p>Edit {{ project.name }}</p></div></a>
    {% endfor %}
    {% endif %}
    <a href="{{ url_for('create_project', username=user.username) }}"><div class="thumbnail dash" style="width: 100px; height: 100px; float: left; margin-right: 10px;"><p>Add Project</p></div></a>
    {% else %}
    {% if user.projects %}
    {% for project in user.projects %}
    <a href="{{ url_for('project', username=user.username, project_id=project.id) }}"><div class="thumbnail dash" style="width: 100px; height: 100px; float: left; margin-right: 10px;"><p>View {{ project.name }}</p></div></a>
    {% endfor %}
    {% endif %}
    {% endif %}
    <div style="clear: both;"></div>
    <hr>
    <h3>Following</h3>

  </div>

  <div id="container">
  </div>

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-fileupload.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.tagsinput.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.isotope.min.js') }}"></script>
  <script>
    $(function(){
      $('#container').isotope({
        itemSelector: '.box',
        resizesContainer: false
      });
    });

    function shorten(string, limit)
    {
       return string = string.length > limit ? string.substring(0,limit) + "...": string;
    }

    $(document).ready(function(){

      $('.navbar-search').submit(function(event) {
        event.preventDefault();
        var content = '';
        var $form = $( this ),
            search = $form.find( 'input[name="search"]' ).val(),
            url = $form.attr( 'action' );
        jdata = JSON.stringify({"search": search});
        jQuery.ajax({
                type: "POST",
                url: url,
                data: jdata,
                success: function(data) {
                  var users = data;
                  $.each(users, function(index, user) {
                    var link = '{{ url_for("user", username=username) }}' + user.username;
                    content += '<div class="box col2"><div class="thumbnail"><a href="' + link + '"><img src="' + user.pic + '"/></a></div><p>' + user.description + '</p></div>';
                  });
                  $(".container-narrow").html('');
                  $("#container").html(content);
                },  
                dataType: "json",
                contentType: "application/json",
                processData: false
              });
          });

      $('#tags').tagsInput(
        {
          'height':'32px',
          'width':'900px',
          'minChars' : 1
        });

      $("div.edit").toggle( 
        // skills-input
        function() {
          $(this).children("button").text("Finished");

          var skills = '';
          $('.skills-input span').each(function(){
              skills += $(this).text();
              skills += ','
          });
          $(".skills-input").hide();
          $('#tags').importTags(skills);
          $(".skills-input-edit").show();
        },

        // skills-input-edit
        function() {
          $(this).children("button").text("Edit");

          var skills = $("#tags").val();
          $(".skills-input-edit").hide();
          $(".skills-input").show();
          var content = '';
          var array = skills.split(',');
          if (array[0] == '')
          {
            array = [];
            content += '<hint>Add Skills</hint>';
          }
          for (var i = 0; i < array.length; i++) {
            content += '<span>' + array[i] + '</span>';
          }
          $('.skills-input').html(content);
  
          var url = '{{ url_for('update') }}';
          var username = '{{ user.username }}';
          var search = JSON.stringify({"username": username});
          var update = JSON.stringify({"skills": array});
          data = JSON.stringify({"search": search, "update": update});
          jQuery.ajax({
                  type: "POST",
                  url: url,
                  data: data,
                  beforeSend: function() {},
                  success: function(data) {},
                  dataType: "json",
                  contentType: "application/json",
                  processData: false
                });
          }
        );

      $("div.trigger").toggle(
          function(){
            if ($("div.editme").children('input').length == 0) {
              
                var location = $(this).parent();
                $(this).children("button").text("Finished");

                //Create the HTML to insert into the div. Escape any " characters 
                var inputbox = '<textarea class="inputbox" style="height: 300px;">' + $("div.editme", location).text() + '</textarea>';
                
                //Insert the HTML into the div
                $("div.editme", location).html(inputbox);
                
                //Immediately give the input box focus. The user
                //will be expecting to immediately type in the input box,
                //and we need to give them that ability
                $("textarea.inputbox", location).focus();
            }
          },
          
          function(){
                var location = $(this).parent();
                $(this).children("button").text("Edit");
                var value = $("textarea.inputbox", location).val();
                var newvalue = value;
                newvalue = newvalue.replace(/\r?\n/g, "<br>\n");
                $("div.editme", location).html(newvalue);
                var url = '{{ url_for('update') }}';
                var username = '{{ user.username }}';
                var search = JSON.stringify({"username": username});
                var update = JSON.stringify({"description": value});
                data = JSON.stringify({"search": search, "update": update});
                jQuery.ajax({
                  type: "POST",
                  url: url,
                  data: data,
                  beforeSend: function() {},
                  success: function(data) {},
                  dataType: "json",
                  contentType: "application/json",
                  processData: false
                });
          }
        );

        $('#submit-iframe').load(function() {
            alert("the iframe has been loaded");
        });

        // $('.fileupload').submit(function(event) {
        //   event.preventDefault();
        //   var $form = $( this ),
        //       file = $form.find( 'input[name="file"]' ).val(),
        //       url = $form.attr( 'action' );
        //   var username = '{{ user.username }}';    
        //   jdata = JSON.stringify({"username": username, "file": file});
        //   jQuery.ajax({
        //           type: "POST",
        //           url: url,
        //           data: jdata,
        //           beforeSend: function() {},
        //           success: function(data) {},
        //           dataType: "json",
        //           contentType: "application/json",
        //           processData: false
        //         });
        //   $('.register-button').html('<img src="{{ url_for("static", filename="img/loading.gif") }}"/>');
        // });

        // var json = $.parseJSON($("#hiddeniframe").contents().text());

      });
  </script>

  </body>
</html>
