{% extends "base.html" %}
{% block body %}
  <script>

    $(function(){
        $('#background-slides').fsCarousel();
    });

    $(document).ready(function(){
      $(".signup").submit(function(event) {
        event.preventDefault();                 
        var $form = $( this ),
            email = $form.find( 'input[name="email"]' ).val(),
            url = $form.attr( 'action' );
        jdata = JSON.stringify({ "email": email});
        jQuery.ajax({
                type: "POST",
                url: url,
                data: jdata,
                success: function(data) {
                  signal = data.valid;
                  if (signal == 0)
                  {
                    $("input[placeholder]").val("Sorry, not a valid email address.");
                  }
                  if (signal == 1)
                  {
                    $("input[placeholder]").val("Thanks, we will notify you soon.");
                  }
                  if (signal == 2)
                  {
                    $("input[placeholder]").val("Cheers, we already got you.");
                  }
                },
                dataType: "json",
                contentType: "application/json",
                processData: false
              });
        $("input[placeholder]").val("validating your email...");  
      });
    });
  </script>

  <div id="background-slides">
      <div class="slide"><img src="{{ url_for('static', filename='img/startisthomepage1.jpg') }}"/></div>
      <div class="slide"><img src="{{ url_for('static', filename='img/startisthomepage2.jpg') }}"/></div>
      <div class="slide"><img src="{{ url_for('static', filename='img/startisthomepage3.jpg') }}"/></div>
      <div class="slide"><img src="{{ url_for('static', filename='img/startisthomepage4.jpg') }}"/></div>
      <div class="slide"><img src="{{ url_for('static', filename='img/startisthomepage5.jpg') }}"/></div>
  </div>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="{{ url_for('signup') }}">Startist</a>
      </div>
    </div>
  </div>

  <form class="signup transparent" action="{{ url_for('email') }}">
    <div class="leftnav">
      <div class="signup-heading">Startist is launching soon.</div>
      <div class="signup-content">If you'd like to be part of our beta, please sign up!</div>
      <input type="text" name="email" class="input-block-level" placeholder="Email Address"><input class="play" type="image" src="{{ url_for('static', filename='img/play.png') }}">
    </div>
    <div class="vertical"> </div>  
    <div class="rightnav">
      <div class="signup-heading">We're Hiring.</div>
      <div class="signup-content">Send your resume and a brief cover letter to jobs[at]startists.com and we'll be in touch!</div>      
    </div>  
  </form>
{% endblock %}