/* fixed background image */
html {  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

/* background gradient color of the entire page */
body {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    padding-bottom: 40px;
}

/* background gradient color of the top navigation bar */
.navbar-inner {
    opacity: 0.8;
}

/* startist brand name font and color */
.navbar .brand {
    width: 12%;
}
.navbar .brand:hover {
    text-decoration: none;
}

/* signup form box and text box */
.signup {
    position: fixed;
    top: 65%;
    width: 78%;
    height: 20%;
    padding: 19px;
    background-color: #000000;
    border-radius: 6px 6px 6px 6px;
}
.signup-heading {
    color: #ffffff;
    font-size: 16px;
    padding-bottom: 20px;
}
.signup-content {
    color: #ffffff;
    font-size: 16px;
    padding-bottom: 15px;
    line-height: 25px;
}
.signup input[type="text"] {
    font-size: 15px;
    height: auto;
    text-align: center;
    width: 300px;
}
.signup-button {
    text-align: center;
}
a:hover {
  text-decoration: none;
}
.transparent {
    opacity: 0.8;
}

/* email and hiring divs */
.leftnav {
   width: 35%;
   margin-right: 200px;
   float: left;
}
.vertical {
   border-left: 3px solid gray;
   float: left;
   height: 100%;
}
.rightnav {
   width: 37%;
   margin-left: 20px;
   float: left;
}
.input-prepend .play {
    margin-top: -10px;
}

/* carousel */
#background-slides {
    position:absolute; 
    top:0px; 
    left:0px
}   
.slide {
    float:left
}
