body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

hint {
    display: block;
    margin-top: 5px;
    padding-left: 5px;
    font-size: 13px;
}

/* background gradient color of the top navigation bar */
.navbar-inner {
    opacity: 0.8;
}

/* startist brand name font and color, navbar */
.navbar .brand {
    width: 10%;
}
.navbar .brand:hover {
    text-decoration: none;
}
.navbar .nav > li > a {
    font-size: 16px;
    color: #0066FF;
    padding: 14px 15px;
}

/* lander top right corner: login join search */
.navbar-search {
    position: relative;
    padding-top: 5px;
}  
.navbar-search .search-query {
    padding-left: 29px;
}
.navbar-search .icon-search {
    position: absolute;
    top: 11px;
    left: 11px;
}

/* custom container */
.container-narrow {
    margin-top: 50px;
    margin-bottom: 20px; 
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}
.container-narrow > hr {
    margin: 30px 0;
}

/* main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron h2 {
    font-size: 50px;
    line-height: 1;
}


/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* startist brand name */
.startist-logo {
    width: 20%;
}

/* hide components */
.invisible {
    display: none;
}

/* css add-ons */
a:hover {
    text-decoration: none;
}

.space {
    margin-left: 10px;
    margin-right: 10px;
}

.smallspace {
    margin-left: 5px;
    margin-right: 5px;
}
.leftspace {
    margin-left: 30px;
}

.rightspace {
    margin-right: 30px;
}

.bottomspace {
    margin-bottom: 10px;
}

.largetopspace {
    margin-top: 20px;
}

.xlargetopspace {
    margin-top: 35px;
}

.extratopspace {
    margin-top: 80px;
}

.topspace {
    margin-top: 10px;
}

.smalltopspace {
    margin-top: 5px;
}

.center {
    text-align: center;
}

.adjust {
    margin-left: 35.5%;
}

.facebook {
    margin-left: 10px;
    margin-right: 10px;
    float: left;    
}

.twitter {
    margin-left: 10px;
    margin-right: 10px;
    float: left;    
}

.rounded {
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    transition: all 0.2s ease-in-out 0s;
}

/* jobs */
.jobs
{
    margin-top: -20px;
    margin-bottom: -40px;
}

/* main band image under navigation bar */
.hero-unit {
    padding: 160px;
    margin-top: 25px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/* modal */
.modal-heading {
    color: #000000;
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: bold;
    text-align: center;
}
.modal-header {
    background-color: #f0f0f0;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#f0f0f0));
    background-image: -webkit-linear-gradient(#e8e8e8, #f0f0f0);
    background-image: -moz-linear-gradient(#e8e8e8, #f0f0f0);
    background-image: -o-linear-gradient(top, #e8e8e8, #f0f0f0);
    background-image: -khtml-gradient(linear, left top, left bottom, from(#e8e8e8), to(#f0f0f0));
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e8e8e8', EndColorStr='#f0f0f0', GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e8e8e8', EndColorStr='#f0f0f0', GradientType=0))";
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
}
.modal-body {
    background-color: #f0f0f0;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#f0f0f0));
    background-image: -webkit-linear-gradient(#e8e8e8, #f0f0f0);
    background-image: -moz-linear-gradient(#e8e8e8, #f0f0f0);
    background-image: -o-linear-gradient(top, #e8e8e8, #f0f0f0);
    background-image: -khtml-gradient(linear, left top, left bottom, from(#e8e8e8), to(#f0f0f0));
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e8e8e8', EndColorStr='#f0f0f0', GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e8e8e8', EndColorStr='#f0f0f0', GradientType=0))";
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
#join {
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;    
    border-top: 4px solid #0088CC;
    border-bottom: 4px solid #0088CC;
    border-right: 4px solid #0088CC;
    border-left: 4px solid #0088CC;
    opacity: 0.70;
    width: 300px;
    margin: 40px 0 0 -150px;
}
#login {
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;    
    border-top: 4px solid #0088CC;
    border-bottom: 4px solid #0088CC;
    border-right: 4px solid #0088CC;
    border-left: 4px solid #0088CC;
    opacity: 0.70;
    width: 300px;
    margin: 40px 0 0 -150px;
}
#myModalLabel {
    color: #0088CC;
    font-size: 25px;
    display: block;
    font-weight: 200;
    text-shadow: 0 1px 0 #FFFFFF;
    text-decoration: none;
}
.heading {
    padding-bottom: 0px;
    font-weight: bold;
    display: inline-block;
}

/* set the opacity */
.transparent {
    opacity: 0.70;
}

/* join and login errors */
.name-error {
    color: #a80000 ;
    padding-bottom: 10px;
}
.email-error {
    color: #a80000 ;
    padding-bottom: 10px;
}
.password-error {
    color: #a80000 ;
    padding-bottom: 10px;
}
.username-error {
    color: #a80000 ;
    padding-bottom: 10px;
}
.login-error {
    color: #a80000 ;
    padding-bottom: 10px;
}
.token-error {
    color: #a80000 ;
    padding-bottom: 10px;
}
.signup-pic {
    width: 100px; 
    height: 100px; 
    margin-left: 372px; 
    margin-bottom: 10px;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    display: block;
    line-height: 20px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}

/* lander image */
.container .jumbotron img {
    width: 100%;
    height: 600px;
    border-radius: 6px;
}

.blueboxhighlight {
    opacity: 0.6;
    position: absolute;
    top: 80%;
    margin-left: 20px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 5px;
    color: #ffffff;
    background-color: #0066FF;
}
.createbox {
    border: 2px solid #c0c0c0;
    margin-top: -20px;
    margin-left: 20px;
    padding: 10px;
    color: #ffffff;
}
.createbox a {
    color: #ffffff;
    text-decoration: none;
}
.joinbox {
    border: 2px solid #c0c0c0;
    margin-top: -20px;
    margin-left: 180px;
    padding: 10px;
    color: #ffffff;
}
.joinbox a {
    color: #ffffff;
    text-decoration: none;
}

/* profile and project page */
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.profile-pic {
    width: 200px; 
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    display: block;
    line-height: 20px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
    margin-right: auto;
    margin-left: auto;
    background-color: #FAFAFA;
    background-repeat: repeat-x;
    background-size: cover;
}

.profile-box {
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    transition: all 0.2s ease-in-out 0s;
    padding: 10px;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 5px;
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
}

.profile-summary {
    width: 190px;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    transition: all 0.2s ease-in-out 0s;
    padding: 10px;
    margin-top: 5px;
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
}

.skills-input { 
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    transition: all 0.2s ease-in-out 0s;
    border-radius: 4px 4px 4px 4px; 
    background: #FFF; 
    padding: 5px; 
    width: 900px; 
    height: 32px; 
    overflow-y: auto; 
    margin-bottom: 5px;
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
}

.skills-input span { 
    border: 1px solid #a5d24a; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    display: block; 
    float: left; 
    padding: 5px; 
    text-decoration:none; 
    background: #cde69c; 
    color: #638421; 
    margin-right: 5px; 
    margin-bottom:5px;
    font-size:13px; 
    border-radius: 4px 4px 4px 4px;
}

/* portfolio page */
.labels-input { 
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    transition: all 0.2s ease-in-out 0s;
    border-radius: 4px 4px 4px 4px; 
    background: #FFF; 
    padding: 5px; 
    overflow-y: auto; 
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
}

.labels-input span { 
    border: 1px solid #a5d24a; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    display: block; 
    float: left; 
    padding: 5px; 
    text-decoration:none; 
    background: #cde69c; 
    color: #638421; 
    margin-right: 5px; 
    font-size:13px; 
    border-radius: 4px 4px 4px 4px;
}

.caption-input {
    padding: 5px;
    font-size: 13px;
}

.dash {
    border: 2px dashed #DDDDDD;
}

.thumbnail {
    line-height: 20px;
    text-align: center;
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;    
}

.thumbnail p {
    text-align: center;
    vertical-align: middle;
    margin-top: 35%;
}


/* project page */
.project-pic {
    width: 200px; 
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    display: block;
    line-height: 20px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FAFAFA;
    background-repeat: repeat-x;
    background-size: cover;
}

.project-name {
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    transition: all 0.2s ease-in-out 0s;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 5px;
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
    font-size: 38.5px;
    font-weight: bold;
    text-rendering: optimizelegibility;
    width: 94.5%;
}

.project-summary {
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    transition: all 0.2s ease-in-out 0s;
    padding: 10px;
    margin-top: 5px;
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
}

.project-description {
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    transition: all 0.2s ease-in-out 0s;
    padding: 10px;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
}

.project-skills { 
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    transition: all 0.2s ease-in-out 0s;
    border-radius: 4px 4px 4px 4px; 
    background: #FFF; 
    padding: 5px; 
    height: 32px; 
    overflow-y: auto;
    margin-top: 5px; 
    margin-bottom: 5px;
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
}

.project-skills span { 
    border: 1px solid #a5d24a; 
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px; 
    display: block; 
    float: left; 
    padding: 5px; 
    text-decoration:none; 
    background: #cde69c; 
    color: #638421; 
    margin-right: 5px; 
    margin-bottom:5px;
    font-size:13px; 
    border-radius: 4px 4px 4px 4px;
}

/* isotope */
.box {
  margin: 5px;
  padding: 5px;
  background: #D8D5D2;
  font-size: 11px;
  float: left;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.box h2 {
  font-size: 14px;
  font-weight: 200;
}

.col1 { width: 80px; }
.col2 { width: 200px; }
.col3 { width: 280px; }
.col4 { width: 380px; }
.col5 { width: 480px; }
.col6 { width: 600px; }

#container {
  border: none;
  margin-top: auto;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  max-height: 100%;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}

#options {
  padding-bottom: 1.0em;
}

#options h3 {
  margin-bottom: 0.2em;
  font-size: 15px;
}

#options h4 { 
  font-weight: bold;
}

#options ul {
  margin: 0;
  list-style: none;
}

#options ul ul {
  margin-left: 1.5em;
}

#options li {
  float: left;
  margin-bottom: 0.2em;
}

#options li a {
  display: block;
  padding: 0.4em 0.5em;
  background-color: #DDD;
  color: #222;
  font-weight: bold;
  text-shadow: 0 1px hsla( 0, 0%, 100%, 0.5 );
  background-image: -webkit-linear-gradient( top, hsla( 0, 0%, 100%, 0.5 ), hsla( 0, 0%, 100%, 0.0 ) );
  background-image:    -moz-linear-gradient( top, hsla( 0, 0%, 100%, 0.5 ), hsla( 0, 0%, 100%, 0.0 ) );
  background-image:     -ms-linear-gradient( top, hsla( 0, 0%, 100%, 0.5 ), hsla( 0, 0%, 100%, 0.0 ) );
  background-image:      -o-linear-gradient( top, hsla( 0, 0%, 100%, 0.5 ), hsla( 0, 0%, 100%, 0.0 ) );
  background-image:         linear-gradient( top, hsla( 0, 0%, 100%, 0.5 ), hsla( 0, 0%, 100%, 0.0 ) );
}

#options li a:hover {
  background-color: #5BF;
}

#options li a:active {
  background-color: #39D;
  -webkit-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
     -moz-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
       -o-box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
          box-shadow: inset 0 2px 8px hsla( 0, 0%, 0%, 0.6 );
}

#options li a {
  border-left:  1px solid hsla( 0, 0%, 100%, 0.3 );
  border-right: 1px solid hsla( 0, 0%,   0%, 0.2 );
}

#options li:first-child a {
  border-radius: 7px 0 0 7px;
  border-left: none;
}

#options li:last-child a {
  border-radius: 0 7px 7px 0;
}

#options li a.selected {
  background-color: #13F;
  text-shadow: none;
  color: white;
}

#options .option-combo {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

#options .option-combo ul {
  margin-right: 20px;
  display: inline-block;
}

#options .option-combo h2,
#options .option-combo h4 {
  line-height: 34px;
  margin-bottom: 0;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}

.variable-sizes .box.width2 { width: 230px; }

.variable-sizes .box.height2 { height: 230px; }

.variable-sizes .box.width2.height2 {
  font-size: 2.0em;
}

.box.large,
.variable-sizes .box.large,
.variable-sizes .box.large.width2.height2 {
  height: auto;
  width: 350px;
  z-index: 100;
}

.box.larger,
.variable-sizes .box.larger,
.variable-sizes .box.larger.width2.height2 {
  height: auto;
  width: 700px;
  z-index: 100;
}

/* masonry */
/*#container {
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.centered { margin: 0 auto; }

.box {
  margin: 5px;
  padding: 5px;
  background: #D8D5D2;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.box h2 {
  font-size: 14px;
  font-weight: 200;
}

.box img,
#tumblelog img {
  display: block;
  width: 100%;
}

.rtl .box {
  float: right;
  text-align: right; 
  direction: rtl;
}

.col1 { width: 80px; }
.col2 { width: 180px; }
.col3 { width: 280px; }
.col4 { width: 380px; }
.col5 { width: 480px; }

.col1 img { max-width: 80px; }
.col2 img { max-width: 180px; }
.col3 img { max-width: 280px; }
.col4 img { max-width: 380px; }
.col5 img { max-width: 480px; }

.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}


/* disable transitions on container 
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
     -moz-transition-property: none;
      -ms-transition-property: none;
       -o-transition-property: none;
          transition-property: none;
}*/
