body {
    padding-top: 20px;
    background-color: #FFFFFF;
}

/* background gradient color of the top navigation bar */
.navbar-inner {
    opacity: 0.8;
}

/* startist brand name font and color, navbar */
.navbar .brand {
    width: 10%;
}
.navbar .brand:hover {
    text-decoration: none;
}
.navbar .nav > li > a {
    font-size: 16px;
    color: #0066FF;
    padding: 14px 15px;
}

/* lander top right corner: login join search */
.navbar-search {
    position: relative;
    padding-top: 5px;
}  
.navbar-search .search-query {
    padding-left: 29px;
}
.navbar-search .icon-search {
    position: absolute;
    top: 11px;
    left: 11px;
}

/* custom container */
.container-narrow {
    margin: 50px auto;
    max-width: 900px;
}
.container-narrow > hr {
    margin: 30px 0;
}

/* main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron h2 {
    font-size: 50px;
    line-height: 1;
}


/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* startist brand name */
.startist-logo {
    width: 20%;
}

/* hide components */
.invisible {
    display: none;
}

a:hover {
    text-decoration: none;
}

.space {
    margin-left: 10px;
    margin-right: 10px;
}

.leftspace {
    margin-left: 30px;
}

.rightspace {
    margin-right: 30px;
}

.center {
    text-align: center;
}

.adjust {
    margin-left: 35.5%;
}

.facebook {
    margin-left: 10px;
    margin-right: 10px;
    float: left;    
}

.twitter {
    margin-left: 10px;
    margin-right: 10px;
    float: left;    
}

/* jobs */
.jobs
{
    margin-top: -20px;
    margin-bottom: -40px;
}

/* main band image under navigation bar */
.hero-unit {
    padding: 160px;
    margin-top: 25px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/* modal */
.modal-heading {
    color: #000000;
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: bold;
    text-align: center;
}
.modal-header {
    background-color: #f0f0f0;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#f0f0f0));
    background-image: -webkit-linear-gradient(#e8e8e8, #f0f0f0);
    background-image: -moz-linear-gradient(#e8e8e8, #f0f0f0);
    background-image: -o-linear-gradient(top, #e8e8e8, #f0f0f0);
    background-image: -khtml-gradient(linear, left top, left bottom, from(#e8e8e8), to(#f0f0f0));
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e8e8e8', EndColorStr='#f0f0f0', GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e8e8e8', EndColorStr='#f0f0f0', GradientType=0))";
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
}
.modal-body {
    background-color: #f0f0f0;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#f0f0f0));
    background-image: -webkit-linear-gradient(#e8e8e8, #f0f0f0);
    background-image: -moz-linear-gradient(#e8e8e8, #f0f0f0);
    background-image: -o-linear-gradient(top, #e8e8e8, #f0f0f0);
    background-image: -khtml-gradient(linear, left top, left bottom, from(#e8e8e8), to(#f0f0f0));
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#e8e8e8', EndColorStr='#f0f0f0', GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e8e8e8', EndColorStr='#f0f0f0', GradientType=0))";
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
#join {
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;    
    border-top: 4px solid #0088CC;
    border-bottom: 4px solid #0088CC;
    border-right: 4px solid #0088CC;
    border-left: 4px solid #0088CC;
    opacity: 0.70;
    width: 300px;
    margin: 40px 0 0 -150px;
}
#login {
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;    
    border-top: 4px solid #0088CC;
    border-bottom: 4px solid #0088CC;
    border-right: 4px solid #0088CC;
    border-left: 4px solid #0088CC;
    opacity: 0.70;
    width: 300px;
    margin: 40px 0 0 -150px;
}
#myModalLabel {
    color: #0088CC;
    font-size: 25px;
    display: block;
    font-weight: 200;
    text-shadow: 0 1px 0 #FFFFFF;
    text-decoration: none;
}
.heading {
    padding-bottom: 5px;
    font-weight: bold;
    display: inline-block;
}

/* set the opacity */
.transparent {
    opacity: 0.70;
}

/* join and login errors */
.name-error {
    color: #a80000 ;
    padding-bottom: 10px;
}
.email-error {
    color: #a80000 ;
    padding-bottom: 10px;
}
.password-error {
    color: #a80000 ;
    padding-bottom: 10px;
}
.username-error {
    color: #a80000 ;
    padding-bottom: 10px;
}
.login-error {
    color: #a80000 ;
    padding-bottom: 10px;
}
.token-error {
    color: #a80000 ;
    padding-bottom: 10px;
}
.profile-pic {
    width: 100px; 
    height: 100px; 
    margin-left: 372px; 
    margin-bottom: 10px;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    display: block;
    line-height: 20px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}

/* lander image */
.container .jumbotron img {
    width: 100%;
    height: 600px;
    border-radius: 6px;
}

.blueboxhighlight {
    opacity: 0.6;
    position: absolute;
    top: 80%;
    margin-left: 20px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 5px;
    color: #ffffff;
    background-color: #0066FF;
}
.createbox {
    border: 2px solid #c0c0c0;
    position: fixed;
    top: 80%;
    margin-left: 20px;
    padding: 10px;
    color: #ffffff;
}
.joinbox {
    border: 2px solid #c0c0c0;
    position: fixed;
    top: 80%;
    margin-left: 180px;
    padding: 10px;
    color: #ffffff;
}

/* profile page */
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
}

.pic {
    width: 100px; 
    height: 100px; 
    margin-top: 57px;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    display: block;
    line-height: 20px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}

.box {
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    transition: all 0.2s ease-in-out 0s;
    padding: 10px;
    height: 200px;
}